[2019-06-13 08:15] dmytro-anokhin opened #1 "Implement support for macOS"
Current implementation uses `UIImage` because it is easy to use and supports various image formats. This works well but makes it not possible to use `URLImage` on macOS. Using CGImage should solve the problem.

[2019-06-13 08:21] dmytro-anokhin opened #2 "Use database to cache images locally"
Database will use less memory and allow faster read/write with large number of images than current text file.

[2019-06-13 08:24] dmytro-anokhin opened #3 "Add unit tests"

[2019-06-17 22:04] nikokent opened #4 "Loaded image diverts back to placeholder on sheet presentation"
I have a list of rows, in each row there is a URLImage() and some text.

[code]

Whenever I tap the cell row, the Image which has been loaded the disappears and the placeholder appears.

[2019-06-18 06:09] dmytro-anokhin commented on #4
Hey, thank you for reporting and sample code. I'm gonna investigate.

[2019-06-18 23:11] nikokent commented on #4
Of Course! Really excited by this so far, let me know if you need to see more of my code or anything

[2019-06-19 11:19] dmytro-anokhin opened #5 "Fix animation"
Animation is disabled in 0.3.3 because the transition sometimes uses frames and not opacity.

[2019-06-19 11:41] dmytro-anokhin commented on #4
Hey,

Apparently this issue is not that simple. When sample code triggers presentation it recreates `URLImage`. Expected behaviour is that new `URLImage` will fetch downloaded image from in-memory cache. This is asynchronous operation and I use `@ObjectBinding` to update the view. After some debugging I discovered that `@ObjectBinding` only works once and consecutive calls never update the view.

[2019-06-19 18:23] ghost opened #6 "Support resizeable and aspectRatio modifiers"
It would be handy to be able to:
[code]

https://stackoverflow.com/questions/56610266/how-to-make-a-custom-image-resizable-with-swiftui provides some pointers/

[2019-06-19 20:30] dmytro-anokhin commented on #6
Yes, good idea

[2019-06-19 21:57] dmytro-anokhin commented on #6
Done:
- `resizable` is in 0.3.4;
- `aspectRatio` is implemented as an extension of the `View` protocol so I expect  it to work automatically.

[2019-06-19 21:57] #6 closed, assigned to dmytro-anokhin

[2019-06-19 22:02] dmytro-anokhin opened #7 "Implement styling functions"
The goal of `URLImage` API is to provide an interface as close to `Image` as possible. `Image` defines styling functions described in "Styling Images" section: https://developer.apple.com/documentation/swiftui/image

`URLImage` must implement this functions. This includes:
- `func resizable(capInsets: EdgeInsets, resizingMode: Image.ResizingMode) -> Image`
- `func renderingMode(Image.TemplateRende

[2019-06-20 06:59] dmytro-anokhin commented on #4
Closing the issue because the bug should be fixed.

[2019-06-20 07:04] dmytro-anokhin commented on #7
Unit tests (#3) should be implemented first to make sure styling functions match such of the `Image`.

[2019-06-28 18:55] PaulM4031 opened #8 "Update for tvOS 13.0"
Unable to use on tvOS because available tag only lists iOS 13.0, as UIImage is also available on tvOS please update to include tvOS 13.0

`@available(tvOS 13.0, *)`

[2019-06-29 03:33] tinyoverflow opened #9 "URLImage in NavigationButton within FlowStack is invisible"
Thank you for this package. I really appreciate your work!
I'm unsure whether my issue is related to this package, or the package FlowStack from @johnsusek (https://github.com/johnsusek/FlowStack).

When your URLImage element gets embedded into a NavigationButton within a FlowStack element, the whole image just turns blue. This does not happen in a SwiftUI default component like a list.

Unfortuna

[2019-06-29 07:32] dmytro-anokhin commented on #9
Hey, thanks. Interesting issue. I will take some time to investigate later on.

[2019-06-29 07:35] dmytro-anokhin commented on #8
Hey. Sure, gonna push the change later today.

[2019-06-30 23:20] ghost commented on #9
This is the NavigationButton styling the image as a button, blue by default in light mode.  On a normal Image view, you fix this with the .[renderingMode](https://developer.apple.com/documentation/swiftui/image/3269728-renderingmode) modifier.

See [step 2 of section 5 of this](https://developer.apple.com/tutorials/swiftui/composing-complex-interfaces#add-navigation-between-sections) Apple tutoria

[2019-07-01 00:25] ghost commented on #6
🥇 👍

[2019-07-01 05:17] dmytro-anokhin commented on #8
Added in 0.3.5

[2019-07-01 05:17] #8 closed, assigned to dmytro-anokhin

[2019-07-01 19:55] dmytro-anokhin commented on #9
Thanks for the hint @mikegrb. Indeed `NavigationButton` uses `.template` and you want `.original` `renderingMode`.

I added `renderingMode` for now. It should work and proper implementation will follow as part of #7 issue.

[2019-07-01 19:55] #9 closed, assigned to dmytro-anokhin

[2019-07-02 16:41] Satwa commented on #7
Hello,

It would be great to have the blur function too as part of this enhancement ticket

EDIT: it seems blur is working, inconsistencies are coming from Xcode 11

[2019-07-29 12:19] PatrikTheDev opened #10 "Doesn't compile on b4"
I came across this project (and ImageIOSwift) and for some reason, both don't work/compile. I always get a different error that is gibberish (Type of expression is ambiguous without more context -- on a Text() element). Any ideas?

[2019-07-29 20:09] benclanet commented on #10
It does compile with beta 4 but the image does not appear, ever. Any idea?

[2019-07-29 20:56] dmytro-anokhin commented on #10
Hey, what an interesting combination of frameworks. I didn't consider using Image I/O. And I'm wondering what are you trying to achieve. Can I see a test project by any chance?

BTW I'm using [URLImageApp](https://github.com/dmytro-anokhin/url-image-app) as a test app. I have beta 4 installed and I see beta 5 is out today.

[2019-07-29 23:35] PatrikTheDev commented on #10
Hmm, I will try one more time on b5. I wasn’t able to make my own solution, when I tried to make one, it never worked. It’s pretty late here now, will report back in the morning.

[2019-07-29 23:37] PatrikTheDev commented on #10
Also, ImageIOSwift was just an alternative I tried, it had the same problem as this framework.

[2019-07-30 05:28] dmytro-anokhin commented on #10
Then this is something different. The error you mention usually happens with polymorphic functions that create ambiguity when you call them. You resolve the ambiguity by providing more context to the compiler.

[2019-07-30 06:54] PatrikTheDev commented on #10
No, that wasn't the case, b5 solved it

[2019-07-30 08:12] dmytro-anokhin commented on #10
Ok 🙂

[2019-07-30 08:12] #10 closed, assigned to nobody

[2019-07-30 16:47] benclanet opened #11 "Crash on Xcode 11 beta 5"
Hi,

Was working fine on beta 4. This morning with beta 5 my view using UrlImage crashes.
I realized it never happens the first time you open the view, only the second time.

The error message is:
[code]

Any ideas?

[2019-07-30 16:52] benclanet commented on #11
Also, here's the code I use if it helps

[code]

[2019-07-30 20:49] dmytro-anokhin commented on #11
Hey,

In the crash log the frame has invalid position. I wasn't able to reproduce the crash in beta 5 so I will need some help on this one.

You mentioned that the crash happens when you open the view second time. First assumption would be that the image loaded from the local store is corrupted. But that should not be the case because the process is not different from when the image is first downl

[2019-07-31 16:33] benclanet commented on #11
Hi, sorry for the delay.

I did more tests. It seems that the issue comes from the fact that I use it in a `List`...
With a `ForEach` inside a `ScrollView` it works as expected. Problem is... I want to use it in a `List` 😄Are you able to reproduce it on your end?

[2019-07-31 18:57] dmytro-anokhin commented on #11
I use it with the `List` in this demo [URLImageApp](https://github.com/dmytro-anokhin/url-image-app). And also tried your code, like so:
[code]

But no "luck" reproducing the crash.

[2019-08-01 02:40] benclanet commented on #11
Hum, alright I’ll do more test tomorrow and update you!

[2019-08-01 17:01] benclanet commented on #11
Well, all I can think about is that this issue is... WEIRD.
At the beginning, I thought it was related to to the VStack around my List. If I only put the List in my body, like you do, no crash at all. So I'm like this is the issue... and no. I tried on your code, everything is fine.
Now, I do another test where I keep my List inside the VStack, and remove URLImage from my code. Everything is ok.

[2019-08-02 06:06] dmytro-anokhin commented on #11
I see. Let's wait for the next beta then.

[2019-08-06 18:21] JesalR commented on #4
I'm not entirely sure this is fixed

I have an iPad app with a list of images, when the app is resized in multitasking, it seems like images are going through their delay pattern again (I've set the delay higher the lower in the list the items are).

[2019-08-06 18:25] JesalR opened #12 "Improve performance on large sets of images"
I have an iPad app with 3 lists, 2 horizontally scrolling, and 1 vertical scrolling grid. The total number of images across these three lists totals about 200.

It seems this is causing a serious slowdown when the app is launched, whereby the screen is unresponsive for about 5-6 seconds.

Replacing the `URLImage`s with the same `Image` that I use as a placeholder shows none of the same issues.

I'

[2019-08-06 18:26] dmytro-anokhin commented on #4
Hey, I will check and come back to this.

[2019-08-06 18:30] dmytro-anokhin commented on #12
Could be because `URLImage` caches images locally and keeps track of downloaded files in a plain file. Something I'm working now to replace with database. You can comment line 292 in URLImage.swift (one with `group.addStore(ImageLocalStore())`) to see if this is the case.

[2019-08-06 18:45] dmytro-anokhin commented on #4
btw, why you set higher delay on lower images in the list?

[2019-08-06 18:47] JesalR commented on #4
It's because I was testing how I might alleviate the issue I raised here: https://github.com/dmytro-anokhin/url-image/issues/12
Setting a higher delay allowed me to spread the time taken to load images to stop them from blocking the interactions

[2019-08-06 18:50] JesalR commented on #12
You're correct that commenting the line out stops the UI from becoming unresponsive. I've had a cursory glance at the code though and I can't understand why it causes the lockup, since as far as I can tell it's not being loaded from the cache in the main thread?

Also, as an aside, the last paragraph of my original post was incorrect. Increasing the delay on images further down the list *did* help

[2019-08-06 18:59] dmytro-anokhin commented on #12
No, it uses background queue. I'm gonna definitely do some stress testing.

[2019-08-10 16:52] dmytro-anokhin commented on #5
Won't fix for now

[2019-08-10 16:52] #5 closed, assigned to dmytro-anokhin

[2019-08-10 17:09] dmytro-anokhin commented on #2
Implemented in 0.5.0

[2019-08-10 17:09] #2 closed, assigned to dmytro-anokhin

[2019-08-10 17:19] dmytro-anokhin commented on #12
Hey,

I did some testing, loaded about 2000 images in a `List`, and the test app stays responsive on start. Today I pushed v0.5.0 that replaces a plain file with a database. Maybe this will solve your problem. Also UI you describe seems quite complex. Do you have a sample project I can test?

Cheers.

[2019-08-13 18:01] francksyren opened #13 "Image size issue when no .frame() set"
When no frame modifier is set, once the image is loaded, it will render with the same size as the placeholder (which is an icon when nothing is set).
Changing the device orientation will trigger a re-layout and the image will render as expected.

See code sample below:

[code]

[2019-08-14 08:20] dmytro-anokhin commented on #13
Hey,  thank you for the sample code, I will check it later and come back with solution.

FYI you can also set custom view for the placeholder.
[code]

Maybe this will help while I'm investigating. Cheers.

[2019-08-17 00:28] francksyren commented on #13
Thanks for your quick response. Yes, that's what I'm doing right now, I have defined a bigger placeholder.

Let me know if you need more input from me.

[2019-08-19 06:12] dmytro-anokhin commented on #13
Hey,

I run the sample code and was able to reproduce the issue. After playing a bit with different scenarios I found out that `ScrollView` is not updating its geometry correctly. Here is the sample code:

[code]

I think this is not expected behaviour of the `ScrollView` so I submitted feedback to Apple. Hope they will resolve it. I will keep this thread updated.

[2019-08-20 18:07] francksyren commented on #13
Thanks. I'm not suprised, the ScrollView has still many issues, I also submitted feedback to Apple about their `Text` component that ignores the `lineLimit` property inside a ScrollView.

[2019-08-20 19:13] alexanderwe opened #14 "[Question/Request] Possibility to disable caching"
## Environment

* Xcode Beta 6
* URLImage 0.5.0

## Description

At first I want to thank you for this awesome library. I really love it and makes working with remote images such a breeze!

I am currently implementing an app with loads some images from the internet and since `URLImage` is caching all of them, my memory consumption goes very high, currently around 1GB after loading images. Therefor

[2019-08-20 20:44] dmytro-anokhin commented on #14
Hey, thanks for the feedback.

I assume this is in-memory cache. I'm using `NSCache` and it should evict objects when there's memory pressure. Though I need to do some testing to see if this is happening.

Currently there's no option to disable in-memory cache but it should be easy to implement. We need to create empty implemetation of `InMemoryCacheService` protocol and replace current one in `UR

[2019-08-21 07:31] dmytro-anokhin commented on #14
Hey @alexanderwe , I released v0.5.1. Memory consumption is significantly lower in my tests. Please confirm if it solves the problem for you. Cheers.

[2019-08-21 08:25] dmytro-anokhin commented on #12
Hey @JesalR, v0.5.1 released this morning includes memory improvements. You can also enable/disable in-memory cache. Let me know if you see performance improvement on you set of images. Cheers.

[2019-08-21 14:14] alexanderwe commented on #14
@dmytro-anokhin Thanks a lot for your effort ! With the new version the memory consumptions seems to lower as you said. I think I just was not in a range where the memory needed to be evicted and therefore I thought I can cause any trouble. So I think this is fine for now until I really experience some errors/crashes.

But if you find some time, I think it makes sense to give the user some control

[2019-08-21 20:10] dmytro-anokhin commented on #14
You can control in-memory cache with `useInMemoryCache` flag:
[code]
It's off by default because it seems that the local store is fast enough. I will do more testing to come up with recommendation when to use it.

And the big idea is to introduce caching policies for in-memory and local cache.

[2019-08-22 04:04] dmytro-anokhin opened #15 "Introduce caching policies"

[2019-08-22 04:04] #14 closed, assigned to nobody

[2019-08-22 04:07] dmytro-anokhin commented on #11
Hey @benclanet , beta 6 was released recently. Please let me know if the crash is still happening.

[2019-08-22 04:11] alexanderwe commented on #14
Ah nice, sorry I completely oversaw that.. thank you very much for the fast responses and implementation

[2019-08-27 16:00] devhero-tech opened #16 "on list duplicates are not loaded"
When i put few items in list with the same images, after loading duplicates are not loaded ( placeholder stay as is )

[2019-08-27 19:52] dmytro-anokhin commented on #16
Hey, I think I know the cause. The fix is coming soon.

[2019-08-28 07:34] djnews24 opened #17 "Watchkit Support"
Hey,

first of all. great work. But please add watchos, too.
EDIT: Okay i found the problem. I see that the url-image do not work when the url of the image have no extension.

best,
Dennis

[2019-08-28 09:52] #17 closed, assigned to nobody

[2019-08-28 12:24] djnews24 opened #18 "Fast Scroll with Watchkit will not load Images"
When using this Lib on Watchkit with a List.
Fast Scrolling will not load each Image. Most of it shows as placeholder.

[2019-08-28 21:30] dmytro-anokhin opened #20 "Implement support for watchOS"

[2019-08-28 21:31] dmytro-anokhin commented on #18
Hey, I didn't test on watchOS and this is why it's not in the list of platforms. For 1.0.0 milestone I want to support all platforms. I hope to reach it before iOS 13 is public. I created a separate issue #20 and closing this one since it's not supported yet.

[2019-08-28 21:31] #18 closed, assigned to nobody

[2019-08-29 06:10] dmytro-anokhin commented on #16
Hey @devhero-tech,

v0.6.0 can now load same images in different views. Please confirm if the problem is fixed for your case. Thank you.

[2019-08-29 06:56] djnews24 opened #21 "CoreData Warning -> Can't add the same store twice"
Hi,

I see this Error starting my app.
Interessting part is: It just work but i think there is something wrong

2019-08-29 08:53:23.359184+0200 WatchKit Extension[48279:2566527] [error] error: -addPersistentStoreWithType:SQLite configuration:(null) URL:file:///Users/xxx/Library/Developer/CoreSimulator/Devices/4A2ED2F9-B048-4707-B820-5A2121C1776A/data/Containers/Data/PluginKitPlugin/9DB31E69-3168-4

[2019-08-29 07:07] djnews24 commented on #20
Hey, i got it to work with your latest release. My Bug is gone with it

[2019-08-29 07:29] devhero-tech commented on #16
works :) thank you very much

[2019-08-29 07:29] #16 closed, assigned to dmytro-anokhin

[2019-08-29 07:30] djnews24 opened #22 "CoreDataAttributeDescription.swift - isIndexed is deprecated"
Hi,

In the File CoreDataAttributeDescription.swift
There is used a deprecated setter

        attribute.isIndexed = indexed

This is deprecated since iOS 11. XCode warns about it too

[2019-08-29 07:40] abeazam commented on #20
I found in WatchOS 6 the image needs a file type to load into UIImage. As hack to test if it works I renamed the file by appending the file type in makeLoadTask just before loading the image and "hay presto" it worked.

[2019-08-29 07:52] djnews24 commented on #20
Its easier just replace: ImageLoader.swift to use NSData

Line 204

from
if let image = UIImage(contentsOfFile: localURL.path) {

to
if let image = UIImage(data: try NSData(contentsOfFile: localURL.path) as Data) {

with this the file type is regonized correctly

See my pullrequest:
https://github.com/dmytro-anokhin/url-image/pull/23

[2019-08-29 08:08] dmytro-anokhin commented on #21
Hi,

thank you for the log. Is this when running Simulator or device?

Probably the app and extension share the same caches folder. One possible solution is to create unique path in `FileManager+Extensions.swift`.

[2019-08-29 08:35] dmytro-anokhin commented on #20
Hey,

thanks for the hint. I will look into it.

Initializing image with `Data` is not the optimal solution because we load the data in memory on creation. `UIImage` loads data lazily and we will loose this optimizations.

I see the pull request and this makes me think that the cause of the issue is caching and directly related to #21. When creating `Data` in the completion handler of the `NSURLSe

[2019-08-29 08:39] djnews24 commented on #21
The Error is just from the Watchkit Extension.

I have it on Device and Simulator as soon the first image will try to load.

What i see is the
/files.db/ options:{

There is a extra slash at the end? Maybe this is the problem?

[2019-08-29 08:43] abeazam commented on #20
if you append the file extension to the downloaded image file UIimage will load as expect.

[2019-08-29 08:47] djnews24 commented on #20
@abeazam Sure. But for me its a problem. I use a external API without Extensions. And the File Formats Changes. Its impossible for me to change a api when it is not from me :D

[2019-08-29 08:51] djnews24 commented on #20
@dmytro-anokhin i committed another change too.
The Cached Files need NSData too.

Maybe its something you can look into it. Currelty with this it works perfectly here on my Watch App

[2019-08-29 09:36] abeazam commented on #20
@djnews24 the file type is in the download response so it can be added even if its not included in the url. Just an options.

[2019-08-29 10:07] djnews24 commented on #20
@abeazam do you have me the code snippet from you? i would try it out

[2019-08-29 12:53] djnews24 opened #24 "Automatic Cache Cleanup"
I would be good to have a change to add a automatic cleanup of cache files.
Add a timestamp into cache entry in core data.
Delete file by max age configurable through a config option.

Good would be a full cleanup function too.

[2019-08-31 03:13] dmytro-anokhin commented on #20
Hey,

The cache works correctly and copies downloaded files to the caches folder. @abeazam is right, `UIImage` instance fails to initialize with a file path that contains no extension.  Moreover, documentation of `init(contentsOfFile:)` states that the extension should be provided.

For the package the problem is that there is no guaranteed way that the URL will contain the extension. Though I fou

[2019-08-31 03:49] dmytro-anokhin commented on #20
In 0.6.1 the file path contains the file extension or `.file` for urls without it. With this changes watchOS can initialize images. I also included watchOS in the list of supported platforms.

@djnews24 I closed your pull request because I want to use `init(contentsOfFile:)` until I do proper memory usage comparison with alternatives.

[2019-08-31 03:49] #20 closed, assigned to dmytro-anokhin

[2019-08-31 03:50] dmytro-anokhin commented on #15
#24

[2019-08-31 03:53] dmytro-anokhin commented on #24
Hey, I have this in plans. This is why the entry in the files index database already contains the date when it was created. I linked your issue to the original one.

[2019-08-31 03:53] #24 closed, assigned to nobody

[2019-08-31 08:05] djnews24 commented on #20
thx

[2019-08-31 21:49] JesalR commented on #12
It certainly helped, thanks, but there was still the issue.

I believe it could have to do with how large the images I receive are, and the fact that roughly 600 are loaded immediately. Sadly I cannot find a way to lazy load the images when the view containing them appears on screen, but that's a SwiftUI problem and not one for this library.

[2019-09-01 04:53] dmytro-anokhin commented on #12
Hey,

I see, size of course will decrease performance especially when you need to display many images. Though some optimizations still can be done:

- If you design the API your call can take size as the parameter. Or you can have two images to download: thumbnail and full size. This will also decrese network traffic for users;

- When you need to display many images in a grid consider joining the

[2019-09-01 10:25] JesalR commented on #12
It isn't my API, but I found and endpoint that gets me the thumbnail sized images, which has drastically sped up the rendering.

The main offending list in my application is a horizontal scrolling list. My original intention was to have the images rendered when `onAppear` was called, however SwiftUI seems to fire them all off at one time (potentially because the ScrollView only contains one item,

[2019-09-10 12:06] djnews24 opened #25 "Add Support for UIImage too"
Hey,

is it possible to add support for UIImage fetch, too?
I want to use the lib for fetching the images for UIImage too, so it can used the same cached data etc.

[2019-09-10 13:01] dmytro-anokhin commented on #25
Hey,

I see why this can be useful, but my goal is not to expose platform dependant classes in public interface to support macOS. So `UIImage` will either go away or will be wrapped in an object that can switch to `NSImage` transparently. I'm thinking about alternatives and haven't decided yet.

What I can do is to create better abstractions. Local cache already operates with data. Image creation

[2019-09-12 02:18] dmytro-anokhin commented on #11
Closing this issue because I can not reproduce it

[2019-09-12 02:18] #11 closed, assigned to nobody

[2019-09-12 06:20] dmytro-anokhin commented on #21
Hey @djnews24, after adding watchOS to the list of platforms I don't see this issue. Can you make a clean build and see if it is still reproducible?

[2019-09-13 14:51] djnews24 commented on #25
Well ok . I do not need it with osx but several functions like provide images to nowplaying etc needs UIImage as source. But well I will wait and see what u can do :D

[2019-09-16 21:23] dmytro-anokhin commented on #7
Implemented in 0.6.2

[2019-09-16 21:23] #7 closed, assigned to dmytro-anokhin

[2019-09-18 04:04] #25 closed, assigned to nobody

[2019-09-23 23:33] dmytro-anokhin commented on #4
Delay should now only affect network operations.

[2019-09-26 06:53] djnews24 opened #27 "ProgressView not working in List"
Hey first of all,

great new things you add.
I got now a problem. The Progressview do not work when using in a list on watchos.
I expect to see the Circle but i see nothing.

I added it like

URLImage(url, delay: 0.25, placeholder: {
    ProgressView($0) { progress in
        CircleProgressView(progress)
    }
}) { proxy in
    proxy.image
        .resizable()
        .aspectRatio(contentMode: .fi

[2019-09-26 07:23] dmytro-anokhin commented on #27
Hey, sometimes the file is downloaded one go and the progress is not reported by `URLSessionDownloadTask`. Also when you use delay the progress won't be reported till the download starts. There's gonna be an update soon to cover this cases.

[2019-09-27 07:46] dmytro-anokhin commented on #27
I pushed 0.7.1 that contains new activity view and updated readme to show how to use it. It looks like this: https://twitter.com/dmytroanokhin/status/1177070689972555777

[2019-09-27 08:39] djnews24 commented on #27
Hey Very nice. Thank you. It looks great!

[2019-09-27 22:18] #27 closed, assigned to nobody

[2019-09-27 23:12] #4 closed, assigned to dmytro-anokhin

[2019-09-27 23:15] dmytro-anokhin commented on #21
I made some changes to the file index and the issue seems to be fixed.

[2019-09-27 23:15] #21 closed, assigned to nobody

[2019-10-04 16:36] pusateri opened #28 "Cannot convert value of type 'some View' to closure result type '_'"
Installed URLImage 0.7.2 with swift package manager
Tried this with XCode 11.0 GM and the unreleased 11.1 GM.

Getting this error on the .clipped() line. If I comment it out, the same error moves to the .aspectRatio() call. If I comment that out, I get:

`Type of expression is ambiguous without more context`

on the URLImage() line.

[code]

[2019-10-04 18:26] dmytro-anokhin commented on #28
Hi, it seems that Xcode is not reporting an error correctly in your case. How `Event` interface looks like? Is `title` an optional property?

[2019-10-04 18:35] pusateri commented on #28
Yes, all properties are optional because Core Data iCloud syncing requires that. That was the cause. Sorry for the trouble. I'll close this.

[2019-10-04 18:35] #28 closed, assigned to nobody

[2019-10-04 18:37] pusateri commented on #28
Also, thanks so much for this package. It's really nice!

[2019-10-09 19:04] dmytro-anokhin commented on #1
Implemented in 0.9.0

[2019-10-09 19:04] #1 closed, assigned to dmytro-anokhin

[2019-10-13 19:40] dmytro-anokhin commented on #15
0.9.3 introduced expiry date for image files

[2019-10-13 19:40] #15 closed, assigned to dmytro-anokhin

[2019-10-14 06:53] lisindima opened #29 "Error with Mac Catalyst"
Hi, with the latest version I can’t build my project for mac catalyst! Everything worked great on version 0.8.0, but when I upgraded to version 0.9.0 [this error](https://ibb.co/m5QYwSX) constantly appears, updating to 0.9.3 did not solve the problem.
Here is an example of the code that I use:
`struct ProfileImage: View {
    @EnvironmentObject var session: SessionStore
    var body: some View {

[2019-10-14 06:56] djnews24 commented on #15
Thank you for add this! Youre the best!

[2019-10-14 07:54] dmytro-anokhin commented on #29
Hi, please keep using 0.8.0 for your Catalyst app. This is probably caused by changes related to macOS support. I will investigate and fix this soon.

[2019-10-14 15:33] francksyren commented on #13
Any updates with latest release?

[2019-10-14 17:53] dmytro-anokhin commented on #29
Fixed in 0.9.4

[2019-10-14 17:53] #29 closed, assigned to nobody

[2019-10-14 18:19] dmytro-anokhin commented on #13
I didn't receive any updates in Feedback Assistant regarding submitted issue.

One way I found to workaround this is to manually trigger view update when `Image` appears. You need to have a `@State` on your view for this. Something like this:

[code]

I will update this issue when I get any additional information.

[2019-10-15 17:16] farcaller opened #30 "URLImage.resizable isn't available on macOS 10.15+"
the API is gated for iOS and tvOS despite macOS having the required support for resizing the `Image`.

[2019-10-15 18:30] dmytro-anokhin commented on #30
Hey, can you please share sample code that doesn't work.

[2019-10-15 18:38] farcaller commented on #30
[code]

will work on iOS but not on macOS.

[2019-10-15 18:42] dmytro-anokhin commented on #30
Hm, this actually shouldn't work on either. What version of the package are you using?

[2019-10-15 18:45] dmytro-anokhin commented on #30
In 0.7.0 I removed image styling functions matching ones in `Image` in favour of customization using closures. This is described in readme: [Transition from 0.6.3 to 0.7.0](https://github.com/dmytro-anokhin/url-image#transition-from-063-to-070-and-later)

[2019-10-15 18:51] farcaller commented on #30
Ah right, my iOS package is too old. Never mind then.

[2019-10-15 18:51] #30 closed, assigned to nobody

[2019-10-15 21:06] farcaller opened #31 "EXC_BAD_ACCESS in ImageLoaderService"
`urlToDownloaderMap` is  accessed in a thread-unsafe way at least in here:

[code]

(which happens outside of the serial queue)

[2019-10-15 22:00] ldiqual commented on #5
@dmytro-anokhin What's the recommended way to do fadein/out for now?

[2019-10-16 00:47] dmytro-anokhin commented on #31
Hey, thank you for reporting. Fixed in 0.9.6.

[2019-10-16 00:47] #31 closed, assigned to nobody

[2019-10-16 01:35] ldiqual opened #32 "Shows plain image when embedded in NavigationLink"
When embedding within a `NavigationLink`, the library shows a plain image

[code]

Project file: [URLImageTest.zip](https://github.com/dmytro-anokhin/url-image/files/3732036/URLImageTest.zip)
Environment: Xcode 11.2 beta (11B41)

![image](https://user-images.githubusercontent.com/941453/66881044-56092800-ef7a-11e9-880e-3582625dda79.png)

[2019-10-16 04:49] dmytro-anokhin commented on #32
Hey, by default `Image` inside `NavigationLink` uses template rendering mode. This is not related to the package. You need to change it to original to see the image you expect:

[code]

[2019-10-16 04:50] #32 closed, assigned to nobody

[2019-10-16 16:12] ldiqual commented on #32
Oh that's great to know, thank you! Might be worth adding to the readme, I couldn't find an apple reference around this, just online blogs / tweets that mention it

[2019-10-18 01:52] lisindima opened #33 "Image cache size"
Hi, is it possible to implement the ability to view the amount of memory used by the image cache? To display this number in the application interface.

[2019-10-18 03:09] dmytro-anokhin commented on #33
Hi, it is possible if there will be more interest in this feature. Or to create additional benefits, one I can name is to limit the cache size. For now you can keep track of `URLImage` folder in the caches directory.

[2019-10-19 03:53] dmytro-anokhin commented on #12
In 0.9.7 I implemented image resizing, this section of documentation: [Resizing and Performance](https://github.com/dmytro-anokhin/url-image#resizing-and-performance). Hope this helps. I'm closing this issue because there's not much more I can do on the package side.

[2019-10-19 03:53] #12 closed, assigned to dmytro-anokhin

[2019-10-22 02:39] lisindima opened #34 "Strange behavior on the scrollview"
Hi, before that I used your project in static images (profile photo) this time I decided to load images in the scrollview through it, and I observe this behavior. Some sort of image-placeholder appears for a moment.

`URLImage(URL(string:"\(article.urlToImage ?? session.url!)")!, incremental : true, expireAfter : Date ( timeIntervalSinceNow : 31_556_926.0 ),
            content:  {

[2019-10-22 06:54] dmytro-anokhin commented on #34
Yes, this is the default placeholder that appears for a moment when download has not started yet. You can replace it with `EmptyView` if you want to hide it:

[code]

[2019-10-22 07:02] lisindima commented on #34
ok, thanks for that, is it possible to remove this “jump” when you open scrollview again and the photos appear in a second? this is not in the profile, and the photo appears at the same time as the whole presentation (either it is not so, and there is a delay, but it is not felt at all)

[2019-10-22 07:24] lisindima commented on #33
Could you tell me the path to this folder?

[2019-10-22 07:28] dmytro-anokhin commented on #34
This "jump" is because images are loaded asynchronously. When the scroll view calculates its initial layout images sizes are not known. It is not possible to avoid completely atm. But you can reduce this effect by providing `frame` with some min/ideal/max sizes.

[2019-10-22 07:31] lisindima commented on #34
Thank you so much for the explanation!

[2019-10-22 07:31] #34 closed, assigned to nobody

[2019-10-22 07:40] dmytro-anokhin commented on #33
It's different on each device. I can tell you how it's created:

[code]

[2019-10-23 03:45] dmytro-anokhin commented on #22
Fixed in the upcoming release (0.9.8)

[2019-10-23 03:45] #22 closed, assigned to nobody

[2019-10-23 04:08] dmytro-anokhin opened #36 "Support URLRequest"
Sometimes URLs don't provide enough flexibility 🙂

Implementation must cover this parts:
- `URLImage` struct initializers need to be complemented with initializers that accept `URLRequest` object. `URLImage` need to contain `request` property and `url` property can be made computed. Request must go through the objects hierarchy to the `ImageLoaderService`.
- `ImageLoaderService` API must be change

[2019-10-23 09:20] djnews24 opened #37 "Crash with Latest Trunk from Today"
Hey i tried using the Latest Trunk from Today. My App Crash Now with Core Data:

2019-10-23 11:17:24.945661+0200 watchkit Extension[28402:7429650] [error] error: -addPersistentStoreWithType:SQLite configuration:(null) URL:file:///Users/XXX/Library/Developer/CoreSimulator/Devices/D01A6BBC-8F7D-40EA-82BF-65058FF4CF68/data/Containers/Data/PluginKitPlugin/ED3A5036-E2C6-4524-8C15-7D173E72D6DD/Library/C

[2019-10-23 09:22] djnews24 commented on #37
After Deleting the App and redeploy it works. So there must be a problem of core data migration

[2019-10-24 04:35] dmytro-anokhin commented on #37
Hey, sorry for inconvenience. I've added a note in readme: [Core Data Migration](https://github.com/dmytro-anokhin/url-image/blob/master/README.md#core-data-migration) and will follow up with solution.

[2019-10-24 04:35] #37 closed, assigned to nobody

[2019-10-24 04:42] dmytro-anokhin opened #38 "Handle Core Data migration"
To solve this: [Core Data Migration](https://github.com/dmytro-anokhin/url-image#core-data-migration) and this issue: #37

Managing Core Data model versions through all the package releases is difficult. The simplest solution is to remove previous index if it is incompatible with the current package.

[2019-10-25 04:00] dmytro-anokhin opened #39 "Support URLRequest"
Sometimes URLs don't provide enough flexibility 🙂

Implementation must cover this parts:
* URLImage struct initializers need to be complemented with initializers that accept URLRequest object. URLImage need to contain request property and url property can be made computed. Request must go through the objects hierarchy to the ImageLoaderService.
* ImageLoaderService API must be changed from using U

[2019-10-25 05:04] dmytro-anokhin commented on #39
Implemented, file cache changes can be done later if needed.

[2019-10-25 05:04] #39 closed, assigned to dmytro-anokhin

[2019-10-26 06:40] dmytro-anokhin commented on #38
Implemented in 0.9.8

[2019-10-26 06:40] #38 closed, assigned to dmytro-anokhin

[2019-10-31 22:20] francksyren commented on #13
I realized I can just set the frame modifier directly on the proxy e.g. `proxy.image...frame()`.  What would be interesting for me is to access the cgImage of the ImageWrapper but it's private (also ImageProxy protocol does not expose that). I could access the uiImage but it seems like an overhead just to get width & height.

[2019-11-09 10:19] sipersso2 opened #40 "Feature request: Consider lowering the deployment target"
I have a project where I want to use SwiftUI for iOS 13 only until I can drop support for iOS 12. The minimum deployment target is set to iOS 13 for url-image. Is there a way to use the library in a mixed project?

The only way I found was to up the deployment target for my app, but then I can't support iOS 12.

Now, I perfectly understand why you set the deployment target where you did, but I wis

[2019-11-11 03:21] lisindima opened #41 "Error: CreateMetadataFromXMPBufferInternal"
Hi, there is such an error notification when you switch to the list with pictures, it appears only with the list, in another place of the application there is no such behavior.
<img width="1049" alt="Снимок экрана 2019-11-11 в 10 20 35" src="https://user-images.githubusercontent.com/43087859/68558724-f284f400-046c-11ea-896c-b4e7fb89f787.png">

[2019-11-11 07:46] dmytro-anokhin commented on #40
Hey, this makes sense, I will look what can be done.

[2019-11-11 08:04] dmytro-anokhin commented on #41
Hey, this means that the system framework can not parse metadata of an image. I need a sample image from you and tell me if you use incremental downloading feature?

[2019-11-11 08:42] lisindima commented on #41
`URLImage(URL(string: article.urlToImage ?? noImageUrl)!, incremental : true, expireAfter : Date ( timeIntervalSinceNow : 31_556_926.0 ), placeholder: { _ in
                EmptyView()
            },
            content:  {
                $0.image
                .resizable()
                .aspectRatio(contentMode: .fit)
            })`
It is difficult to provide you with an example image, sin

[2019-11-11 08:48] lisindima commented on #41
and the process of incremental image loading is accompanied by such errors
<img width="1043" alt="Снимок экрана 2019-11-11 в 15 46 36" src="https://user-images.githubusercontent.com/43087859/68573621-aa7cc600-049a-11ea-9101-6820d60028ba.png">

[2019-11-11 09:12] sipersso2 commented on #40
Thanks for considering this

[2019-11-12 01:14] dmytro-anokhin commented on #40
I reduced platforms to iOS 11 and macOS 10.13. Couple more things are coming up for the release. For the time being you can manually include the package in your project. I will close the issue when the release is ready. Cheers.

[2019-11-12 04:45] sipersso2 commented on #40
Wow, that’s awesome! Thank you

[2019-11-19 14:55] hafezs opened #42 "Installation through Cocoapods"
SPM has a bug where it doesn't work if there are custom build configuration (https://forums.developer.apple.com/thread/119327). Any plans to offer the library through Cocoapods?

[2019-11-19 15:37] dmytro-anokhin commented on #42
Hey, I will consider. Apparently there's a solution: https://forums.swift.org/t/custom-build-configuration-names/29167. Let me know if it works.

[2019-11-20 04:00] dmytro-anokhin commented on #40
Takes me a while to finish the feature I planned so I created 0.9.9 release.

[2019-11-20 04:00] #40 closed, assigned to dmytro-anokhin

[2019-11-21 07:42] dmytro-anokhin opened #43 "Implement animated images"
This will require refactoring of image downloading service and using new image decoder

[2019-11-21 18:37] jacobcxdev opened #44 "Frame issue when in hosting view"
When a URLImage is in a hosting view which has been added to a UITableViewCell contentView, I believe the frame is ambiguous/not known, thus autoresizing for it cannot occur.

[2019-11-22 09:19] sipersso2 commented on #40
Awesome! Can't wait to try it out. Thanks @dmytro-anokhin!

[2019-11-25 01:33] dmytro-anokhin commented on #44
Hey, can you please provide a sample code to investigate?

[2019-11-25 09:22] jacobcxdev commented on #44
Check out https://github.com/jacobcxdev/Birdsong/tree/UITableViewController.

The URL-Image is used in [TweetView.swift](https://github.com/jacobcxdev/Birdsong/blob/e121581b7c580f639d1c23cbc645bdde94d6de42/Birdsong/View/TweetView.swift#L76-L81), and the layout for the UITableViewController is in [TweetListTableViewController.swift](https://github.com/jacobcxdev/Birdsong/blob/e121581b7c580f639d1c23

[2019-12-03 11:00] roben opened #45 "Usage as TabView tabItem image breaks scaling"
**Summary and/or background**

When using `URLImage` within a tab view, the images are shown larger than the tab bar itself.

**OS and what device you are using**
 - iOS 13.2.3

**Version of URLImage library**
- [x] The bug is reproducible in the latest version.

**What you expected would happen**
A clear and concise description of what you expected to happen.

**What actually happens**
When using

[2019-12-04 08:07] dmytro-anokhin commented on #45
Hey,

SwiftUI allows only text and image tab items. Here's a quote from documentation: "Tab views only support tab items of type Text, Image, or an image followed by text. Passing any other type of view results in a visible but empty tab item." https://developer.apple.com/documentation/swiftui/tabview

[2019-12-04 08:07] #45 closed, assigned to nobody

[2019-12-24 09:23] guyschlider opened #47 "Is it possible to preload images?"
Any idea what is the right way to preload a list of images? simply to create a new URLImage for each and it will be automatically cached?

[2019-12-26 07:53] dmytro-anokhin commented on #47
Hey,

I'm not sure what you mean. You can use URLImage in a List view if this is what you loking for. Images are loaded on display. If you need something else you can use feature request template to describe it better:

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise

[2019-12-26 07:56] guyschlider commented on #47
Hi,

Sorry, haven't had the option for the feature request template (:

Basically I would love to preload a list of images before showing them, calling the Downloader to download and cache them, and later show them in a List or a custom view.

Thanks

[2019-12-26 07:58] guyschlider opened #48 "Allowing preloading of images"
**Describe the solution you'd like**
Adding a method that allows downloading and caching an image before displaying it.

**Describe alternatives you've considered**
I was trying to create a URLImage instance that is not shown but I'm not sure it will start downloading it before it appears. still figuring things out.

[2019-12-26 07:58] #47 closed, assigned to nobody

[2019-12-27 05:07] dmytro-anokhin commented on #48
Hey, `URLImage` already caches downloaded images. Preloading should be a really useful feature and I will implement it in near future.

[2020-01-05 15:29] retendo commented on #32
Might also be a good idea to always set the rendering mode to .original in the library.
As it is intended to load images from the web, which should be photos in the overwhelming majority, I think this might be reasonable.

[2020-01-07 02:45] ThasianX opened #49 "Image loads somewhat sporadically - Project Show"
First and foremost, thank you for this amazing package. I wrote an [app](https://github.com/ThasianX/DivRise) using this. I was hoping you could take a quick look and see what's causing the images to render/not render sometimes. It works perfectly in the search view but if you run the app and after adding a stock to your portfolio and clicking the added stock, you'll notice that sometimes, the ima

[2020-01-08 09:04] dmytro-anokhin commented on #49
Hey, thanks for reporting. I'm currently working on redesigning loading process. But I'm quite busy this days so I can't give any estimates when this will be ready.

[2020-01-08 13:49] ThasianX commented on #49
Ok cool. I'll keep watching for a release

[2020-01-08 13:49] #49 closed, assigned to nobody

[2020-01-09 15:59] azamsharp opened #50 "Can you please improve the resizing syntax?"
The resizing syntax for the image is very unintuitive and hard to write. Is there anyway you can provide a short syntax for that.

Do I need all this to simply resize the image:

[code]

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and con

[2020-01-17 17:59] Urkman opened #51 "Fade in Image after load"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Add a fade in animation after the image is loaded

[2020-01-22 15:21] tfedyanin opened #52 "Question: fixed size on appear/dissappear image"
Hello!
I have a NavigationView with List of URLImage inside.
When is scroll I have a problem - something like jitter because images disappear and change the size of the list.
Can you advise how to fix view size on disappear?

[2020-01-23 07:48] dmytro-anokhin commented on #52
Hey, got a sample code?

[2020-01-23 10:18] tfedyanin commented on #52
Yes:
[code]

Now I found that List is not a fully customizable SwiftUI object, so we can't modify list row height for example. Maybe it's not a good example in the documentation with List?

[2020-01-24 04:14] dmytro-anokhin commented on #52
`List` calculates row height based on its content. You can add `frame` modifier on `URLImage`:

[code]

[2020-01-24 07:44] tfedyanin commented on #52
I adopt your code and make a video about problem:
[code]
[Video with problem](https://youtu.be/Uuf2xHF4A-A) -see on the scroll indicator, at the end I scroll to the begin and you can see problem with placeholder and strange screen shifts.
As I understand, the main problem that placeholder has a different size than content.

[2020-01-25 07:37] dmytro-anokhin commented on #52
you're applying `frame` to the content, try applying it to `URLImage`:
[code]

[2020-01-29 01:53] Traviak commented on #48
Hey,
hope I don't bother you but is there any progress on this issue? I am using your package in a project that helps a researching environment dealing with food/meals. It works quite nicely but preloading would instantly make everything feel more professional.

[2020-02-05 05:43] dmytro-anokhin commented on #42
Took me a while to get back to this one, but `URLImage` is now available using CocoaPods  🎉.

[2020-02-05 05:43] #42 closed, assigned to nobody

[2020-02-06 13:39] tarasis opened #53 "Package fails to compile in Xcode 11.4 beta with Swift 5.2"
Causes 6 segmentation faults while compiling the package.

[code]

[2020-02-07 06:41] dmytro-anokhin commented on #53
I guess some expression is too complex for compiler to process. Gonna look into it on the weekend

[2020-02-07 14:44] tfedyanin commented on #52
@dmytro-anokhin thank you very match.
My main problem was that I don't know image size before fetching it, now I rewrite backend and return image metadata, and my problem solved.

[2020-02-07 14:44] #52 closed, assigned to nobody

[2020-02-08 18:18] dmytro-anokhin commented on #53
This was caused by using closures for default parameters in one of initializers. I removed it since it is redundant anyways. Now the package compiles. Version 0.9.10 is released. Thanks for reporting.

[2020-02-08 18:18] #53 closed, assigned to dmytro-anokhin

[2020-02-09 15:52] tarasis commented on #53
Thank you

[2020-02-17 16:03] Veeit opened #54 "Problem with resizing the placeholder"
Hey,

the placeholder isn't the same size as the normal img, and I can't add a frame to the placeholder to fix that. Can you please fix it so that the placeholder has always the same size as the normal img ?

best,
Veit

[2020-02-17 19:24] dmytro-anokhin commented on #54
Hey, did you check the documentation? [Advanced Customization](https://github.com/dmytro-anokhin/url-image#advanced-customization) section describes how to customize placeholders. If that doesn't help and you believe there is a bug - fill in the bug report template and provide sample code.

[2020-02-18 01:19] ashleyvaz opened #55 "How do i change the placeholder image?"
**Summary and/or background**
I'm using the url-image in my swifui project. This is not a bug yet but I could not figure out how to customize the placeholder image. I tried everything possible, looked through your comprehensive documentation. However there is no sample code on how to customize the place holder image to and image in the assets.
Please advise.

Please see below code snippet.

[2020-02-18 02:04] dmytro-anokhin commented on #55
Both `Content` and `Placeholder` must be SwiftUI views:
[code]
In the sample code you provided you're trying to use `UIImage`. Wrap it in `Image` using `init(uiImage: UIImage)`.

[2020-02-18 02:04] #55 closed, assigned to nobody

[2020-02-18 02:09] dmytro-anokhin commented on #55
And for bundled assets you can use `Image init(String, bundle: Bundle?)` initializer. Cheers.

[2020-02-18 10:51] #54 closed, assigned to nobody

[2020-02-21 04:23] pot2mayo opened #56 "Callback if image does not exist or download fails"
**Is your feature request related to a problem? Please describe.**
I sometimes do not know if the file to download exists or not, or the download simply fails due to connection issues. In such case the placeholder, an activity indicator in my case, spins forever.

**Describe the solution you'd like**
A callback or any other way to know that the download has failed, or the file does not exist, and

[2020-02-21 06:37] danielcodin commented on #56
Would love to have this feature as well

[2020-02-21 07:04] danielcodin commented on #56
Do you mind I ask how you are doing your checks for existing/non-existing files?
Thanks!

[2020-02-21 07:21] pot2mayo commented on #56
@danielcodin
In my case I am fetching public files from firebase storage, therefore I am using the getMetadata function provided by the firebase SDK. The idea behind it is that if metadeta can be fetched then the file exists, without actually downloading in case of a large asset.

For remote files on remote servers I guess you could do something like:
https://stackoverflow.com/questions/30659883/s

[2020-02-21 09:26] dmytro-anokhin commented on #56
Hey, interesting idea, I will read through over the weekend and think about something. I'm currently working on improving downloading logic and error handling case fits perfectly into this.

[2020-02-21 10:06] djnews24 opened #57 "Direct UIImage Access got remove"
**Summary and/or background**

Direct Access to the UIImage got Removed with Commit:
https://github.com/dmytro-anokhin/url-image/commit/6b04af370044ce275f264e84374c88340172a022

**Version of URLImage library**
Latest Master
- [x ] The bug is reproducible in the latest version.

**What you expected would happen**
I use the function really often and now its gone

URLImage(URL(string: (myurl)!)!, inc

[2020-02-22 03:22] dmytro-anokhin commented on #57
Hey, the commit is not removing `UIImage` access, but is a workaround for Xcode 11.4 beta compiler bug. It seems that it also causes incorrect generic type inference. What Xcode version do you use?

[2020-02-22 08:41] dmytro-anokhin commented on #57
Xcode 11 beta 2 still won't allow me to revert this commit. As temporary workaround you can try wrapping return type in `AnyView`:
[code]
I will continue looking for a proper fix.

[2020-02-24 11:26] djnews24 commented on #57
Hey thx for it.
I revert currently the change on my app for it. I wait for a prober fix from u

[2020-02-25 19:22] Mcgode opened #58 "High memory usage"
**Summary and/or background**
URLImage seems to require storing some image data into memory, leading to memory issue (resulting in an app crash) when working with a large set of images (183 images, some featuring the same URL, require more than 1GB of system memory)

**OS and what device you are using**
 - OS: iOS 13.2
 - Device: iPhone SE

**Version of URLImage library**
0.9.10 (latest as of the

[2020-02-26 04:33] dmytro-anokhin commented on #58
Hey, can you please check if using `List` instead of `ScrollView` + `VStack` solves the problem? `List` is reusing views and should consume less memory.

[2020-02-26 07:47] Mcgode commented on #58
It does improve the memory usage,  but I still gain ~250MB memory usage with this change (using 141 items) and adding more images to the set seams to linearly increase the memory usage, meaning it won't scale well down the line when the image set gets bigger

[2020-02-26 08:26] dmytro-anokhin commented on #58
What happens when on memory warning? SwiftUI views should respond to memory warnings and clean backing stores.

[2020-02-27 04:05] dmytro-anokhin commented on #58
I did some tests with various images:
- List of small images (500-1000px) consumes memory linearly. There is a noticeable drop on memory warning.
- With large images (2000-3000px) memory consumption stays approximately constant. There is no drop on memory warning. It seems that system framework is more aggressively evicts backing stores.

[2020-02-27 12:47] n-balashov opened #59 "WatchOS support"
Please, add  s.watchos.deployment_target = '' to your podspec file

[2020-02-28 14:29] dmytro-anokhin commented on #59
sure, will add it soon

[2020-03-01 13:21] nylz opened #61 "Remove cached image(s) by its URL"
**Is your feature request related to a problem? Please describe.**
I need a way to invalidate a certain image. Best would be "by url". Because a single image might have multiple urls! Example "avatars of user 5":
myserver.com/images/useravatar/thumbnail/5
myserver.com/images/useravatar/bigpic/5
myserver.com/images/useravatar/webox/5
All these images (and more) are rendered serverside. When the use

[2020-03-05 23:41] dri94 opened #62 "URL Image cannot invoke initializer with just a URL"
**Summary and/or background**
The URLImage view cannot be initialized with just a URL as specified in the documentation.

**OS and what device you are using**
 - OS: iOS 13
 - iPhone simulator 11

**Version of URLImage library**
The version of the library where the bug happens.
- [x] The bug is reproducible in the latest version.

**What you expected would happen**
I expect the view to be initiali

[2020-03-08 07:37] edvinasbartkus commented on #62
Same issue here

[2020-03-17 13:24] dmytro-anokhin commented on #62
This is related to compiler issue in latest Xcode beta. Please provide the content closure like this till I find a better solution: `URLImage(event.pictureUrl) { $0.image }`.

[2020-03-17 13:46] dmytro-anokhin commented on #59
Podspec is updated. Sorry for taking this long 🙃

[2020-03-17 13:46] #59 closed, assigned to dmytro-anokhin

[2020-03-17 16:12] dmytro-anokhin commented on #61
Hey, I've been away for some time and catching up with all the new requests now. I'm thinking if expanding caching policies can help? Similar to what `URLRequest` has:
[code]

As a temporary workaround you can generate random string and append it to URL. This will create unique URL per image.

[2020-03-18 08:43] nylz commented on #61
Hi,

thank You for Your answer. Url-Appendix and forced reload do not really
help in my usecase, because in my case the app does not really know,
when an image has changed.

I'll try to explain the example more in detail:

UserAvatars of user #7 are loaded from:

- mydomain.com/images/useravatars/big/7
- mydomain.com/images/useravatars/thumbnail/7
- mydomain.com/images/useravatars/webbox/7
- mydom

[2020-03-19 06:30] dmytro-anokhin commented on #61
Implemented removing individual images in 0.9.12:

[code]

Removing using wildcards needs a bit more time to implement and test.

[2020-03-19 06:32] dmytro-anokhin commented on #58
Closing this issue because memory usage is in line with expectations.

[2020-03-19 06:32] #58 closed, assigned to dmytro-anokhin

[2020-03-19 11:03] nylz commented on #61
Wohoo. Thank You very much. This will be a very useful feature.

[2020-03-25 04:13] dmytro-anokhin commented on #62
Compiler bug was fixed in Xcode 11.4 release. `URLImage` 0.9.13 should work as expected.

[2020-03-25 04:13] #62 closed, assigned to nobody

[2020-03-25 04:14] dmytro-anokhin commented on #57
Compiler bug was fixed in Xcode 11.4 release. I reverted commit for `URLImage` version 0.9.13.

[2020-03-25 04:14] #57 closed, assigned to nobody

[2020-03-26 20:44] amarantedaniel opened #63 "Every time data changes image loads again even if url didn't change"
**Summary and/or background**
I don't know if this is a bug or if it's by design bug evey time my data updates the image refreshes, even if it it's the same data..

**OS and what device you are using**
 - OS: iOS 13.3.1
 - Device: iPhone X

**Version of URLImage library**
The version of the library where the bug happens.
- [x] The bug is reproducible in the latest version.

**What you expected wou

[2020-03-28 02:08] dri94 opened #64 "Some images don't load"
**Summary and/or background**
A clear and concise description of what the bug is.

Some images will not load. An example is "https://en.wikipedia.org/wiki/Mars#/media/File:OSIRIS_Mars_true_color.jpg"

**OS and what device you are using**
 - OS: iOS 13
 - Device or simulator: iPhone Simulator

**Version of URLImage library**
The version of the library where the bug happens.
- [x] The bug is reprodu

[2020-03-28 14:34] dmytro-anokhin commented on #64
Hey,

the first URL ("https://en.wikipedia.org/wiki/Mars#/media/File:OSIRIS_Mars_true_color.jpg") is not pointing to an image, it's a webpage. The second URL loads correctly.

Your code is initializing `URLImage` with a `String`. You should've gotten a compiler error there. `URLImage` must be initialized with `URL`.

[2020-03-28 14:34] #64 closed, assigned to nobody

[2020-03-31 15:31] divyanshunegi opened #65 "GIF Animation is missing from a link I used with URLImage"
**Summary and/or background**
I added this code where URL is like this :

[code]

**OS and what device you are using**
 - OS: iOS
 - Device iPhone 11 Pro and iPhone X Simulator

**Version of URLImage library**
-  The bug is reproducible in the latest version.

**What you expected would happen**
After downloading the GIF it should show GIF animations

**What actually happens**
GIF was downloaded bu

[2020-03-31 18:33] dmytro-anokhin commented on #65
This is not a bug, animated images are WIP: #43

[2020-03-31 18:33] #65 closed, assigned to nobody

[2020-04-09 13:22] aliak00 opened #66 "Image is rotated from portrait to landscape?"
**Summary and/or background**
When the image is displayed in the view it is rotated and then displayed

**OS and what device you are using**
 - OS: iOS
 - Device or simulator: Occurs on both device and simulator ios 13

**Version of URLImage library**
The version of the library where the bug happens: 0.9.13
- The bug is reproducible in the latest version.

**What you expected would happen**
The im

[2020-04-15 12:19] dreampiggy commented on #66
See: https://github.com/onevcat/Kingfisher/issues/1395
https://github.com/SDWebImage/SDWebImageSwiftUI/pull/102

Bug: https://twitter.com/DreamingPiggy/status/1250383922921230336

This is SwiftUI's bug, apply for everyone with `SwiftUI.Image`.

If you still need this, just have a try with [SDWebImageSwiftUI](https://github.com/SDWebImage/SDWebImageSwiftUI), which solve the problem without any perf

[2020-04-15 13:20] aliak00 commented on #66
Thanks for the info @dreampiggy ! I'll have a look at SDWebImageSwiftUI!

Edit: Worked like a charm! :D

[2020-04-15 13:20] aliak00 commented on #66
Does anyone know if there's a workaround using URLImage though?

[2020-04-15 22:14] dmytro-anokhin commented on #66
Hey @aliak00, the sample URL returns 403 (forbidden) for me. Any chance to upload the image to a public server?

[2020-04-16 06:57] aliak00 commented on #66
@dmytro-anokhin sorry! I accidentally deleted it

This one should be the same: https://firebasestorage.googleapis.com/v0/b/ms-chanandler-bong.appspot.com/o/flaneur%2Fplaces%2Fsomeplace%2F2020-04-15-aH7e6V?alt=media&token=6b843ded-922d-4691-90a6-a04a4c0e7e5e

[2020-04-16 22:28] maxcan opened #67 "Allow a cache key distinct from URLs"
**Is your feature request related to a problem? Please describe.**
For apps which store images on AWS S3 and use S3 presigned URLs to allow untrusted clients to access images on S3, the same image will have a different URL each time you fetch it.

**Describe the solution you'd like**
It would be great if we could override the key that URLImage uses to store/retrieve from the cache so that the cach

[2020-04-17 00:41] dmytro-anokhin commented on #66
Fixed in 0.9.14. The image must appear correctly when using `proxy.image` property.  @aliak00 please let me know if you can verify it.

[2020-04-17 14:04] aliak00 commented on #66
Checked! It doesn't show up rotated now! 🥳

[2020-04-18 12:33] dmytro-anokhin commented on #66
Great, thanks for verifying.

[2020-04-18 12:33] #66 closed, assigned to nobody

[2020-04-19 13:28] dmytro-anokhin commented on #67
Hey, sounds like handy feature. I will try to spare some time to work on this today-tomorrow.

[2020-04-21 04:46] dmytro-anokhin commented on #67
In 0.9.15 you can now use `fileIdentifier` argument to override default URL as unique key:
[code]
I decided to name it `fileIdentifier` since it's not only used in cache but also when coordinating multiple download requests for a one file. It's a `String` for convenience.

[2020-04-21 18:48] maxcan commented on #67
brilliant.  thank you!

[2020-04-22 04:13] #67 closed, assigned to dmytro-anokhin

[2020-04-22 14:48] maxcan commented on #67
works like a charm.  just verified

[2020-04-22 14:48] maxcan commented on #67
works like a charm.  just verified

[2020-04-27 01:53] lepolt opened #68 "Sometimes same-URL images are not rendered"
**Summary and/or background**
One feature of my app is loading a Twitter feed for a specific user. Each Tweet is its own row, which displays the user's avatar. In some cases, the remote image is not rendering (see image)

**OS and what device you are using**
 - OS: iOS 13.x
 - iPhone 11 Simulator

**Version of URLImage library**
0.9.15
- [x] The bug is reproducible in the latest version.

**What y

[2020-05-08 21:40] pete-rs commented on #63
I'm experiencing the same. When the data loads the image refreshes and flickers. Have you found a workaround? @amarantedaniel @dmytro-anokhin I'm experiencing the same on iPhone X, 13.4.1 on the latest version of URLImage.

[2020-05-10 05:51] ospfranco opened #69 "Compilation error 0.9.15 via Cocoapods and Swift version 5.2.2"
**Summary and/or background**
I installed the library via cocoa pods, when trying to run the project I got a compilation error on DownloadService.swift

**OS and what device you are using**
 - OS: macOS 10.15
 - Device or simulator Macbook Pro

**Version of URLImage library**
The version of the library where the bug happens.
- [X] The bug is reproducible in the latest version.

**What you expected

[2020-05-10 05:56] ospfranco commented on #69
Here si one more thing, I manually added a unwrapping operator, but when the download finishes now I'm getting another crash because the delegate has been deallocated, I'm not a swift expert, don't know if this helps or not

![Screenshot 2020-05-10 at 07 56 07](https://user-images.githubusercontent.com/1634213/81491922-ba336680-9293-11ea-94c7-692f08fdbdc9.JPG)

[2020-05-10 06:40] ospfranco commented on #69
I'm sorry, my bad, I have swiftlint autocorrect turned on and it modified the source file, causing this error, de-activating it makes everything work, thanks a lot for the package!

[2020-05-10 06:40] #69 closed, assigned to nobody

[2020-05-12 07:03] diseks commented on #63
Same situation on IPhone 6S.

[2020-05-12 16:48] alexd6631 opened #70 "Provide / document an API to download images, outside of a SwiftUI context"
I am using URL Image in a Swift UI project, and I would like to reuse the downloading/caching logic of URL Image, but outside a SwiftUI hierarchy.

My specific use case is to create an attachment for a local notification, and it only accepts on-disk file URLs. Since these images are profile pictures and likely to be already in URLImage cache, it makes sense to reuse the cache.

Digging inside the

[2020-06-01 09:54] nobre84 opened #71 "Error handling support"
**Is your feature request related to a problem? Please describe.**
When there is an error of any kind (network, decoding etc), the library does not report it in any way to view so we can update accordingly by stopping progress indicator or showing an error image etc. That would be awesome.

**Describe the solution you'd like**
An error or completion closure, or adding the loading state to the cont

[2020-06-02 07:37] dmytro-anokhin commented on #71
Hey, better error handling support has been requested a couple of times before. I will try to spare a couple of hours this week to add the error handler closure.

[2020-06-07 13:17] dmytro-anokhin commented on #71
`URLImage` now can be initialized with `failure` closure to provide a view for download errors. Alternatively you can provide an `Image` to display (default is `exclamationmark.triangle`). This is currently in master, no release yet because some more work needs to be done around it.

[2020-06-18 11:29] Bonissauro commented on #63
Same in every iPhone I test it: 7, 8, XR, 11 and 11Pro.

[2020-06-18 15:07] Candbot opened #72 "Accept multiple URLs"
The image API that I'm working with has multiple URL formats. I would like to be able to use an alternative URL if one doesn't work.

[2020-06-18 16:03] RoboBotbOt opened #73 "Nil image url from API"
I am an inexperienced developer using a News API to load images into a list, however, occasionally, the json will have nil for the urlToImage and I have no idea how to solve this problem.

Here is a link to the more detailed problem. [Link](https://stackoverflow.com/questions/62406767/using-swift-urlimage-package-with-nil-objects)

[2020-06-20 11:39] dmytro-anokhin commented on #73
Hey,

if your URL can be nil - use a condition. You can use `ZStack`, `AnyView`, `map` - there are various ways to conditionally display a view in SwiftUI - the choice is yours 😉

As for `URLImage`, initializer expects non-optional URL, same as standard `Image` expects the image name.

[2020-06-20 11:39] #73 closed, assigned to nobody

[2020-06-21 10:59] Candbot opened #74 ""precondition failure: attribute failed to set an initial value: 96""
**Summary and/or background**
It often gives me a `precondition failure: attribute failed to set an initial value: 96`. This seems to only affect cached images, since it will work once after changing the url or reinstalling the app. It is in a list with 500 images. The URLs are in a fetched JSON file.

**OS and what device you are using**
 - OS: iOS
 - Device or simulator iPad 10.2 Simulator, iPho

[2020-06-21 18:38] dmytro-anokhin commented on #74
Hey, can you provide a sample URL to reproduce the issue?

[2020-06-24 02:19] bryan1anderson opened #75 "Crashes in iOS 14"
**Summary and/or background**
The app crashes using iOS 14.
Thread 8: EXC_BAD_ACCESS (code=1, address=0x10)
on the loop here:
[code]

**OS and what device you are using**
 - OS: iOS 14, Xcode 12, macOS 10.15.5
 - Device: iPhone 11 Pro Max

**Version of URLImage library**
0.9.15
**Sample code**
[code]
Seems to be related to just loading in a bunch of images. Several of them work, but then it gets t

[2020-06-25 14:57] haemi opened #76 "Is this also possible with PDF?"
When I try to load a pdf I always get the placeholder image... is it somehow possible to load pdfs from remote as well?

[2020-06-27 12:07] ozgurshn opened #77 "Failed to download SVG"
**Summary and/or background**
I can download other static images but can not download this image. It is accessible through browser.

**OS and what device you are using**
 - OS: iOS
 - iPhone simulator

**Version of URLImage library**
The version of the library where the bug happens.
- 0.9.15

**What you expected would happen**
Image is downloaded and shown.

**What actually happens**
An error occu

[2020-06-27 13:44] ozgurshn commented on #77
I close this issue because SVG is not supported in UIImage. The problem is not related to URLImage.

[2020-06-27 13:44] #77 closed, assigned to nobody

[2020-06-27 15:39] dmytro-anokhin commented on #76
No, even though PDF can store images, it's not an image format. You can write your `ImageDecoder` and replace the current one if you really need to.

[2020-06-27 15:39] #76 closed, assigned to nobody

[2020-06-27 22:48] mspusta78 commented on #75
The code seems to break on:

Thread 20: Fatal error: Downloader must be created before calling load
  assertionFailure("Downloader must be created before calling load")

However, this breaks only if trying to do LazyVGrid or LazyVStack
if Lazy is not used the code doesn't break

[2020-06-28 02:45] dmytro-anokhin commented on #75
I'm working on fix

[2020-06-28 05:02] mspusta78 commented on #75
.clipped() property is being ignored when URLImage is in the NavigationLink

iOS14 introduced
.renderingMode(.original)

can we integrate this iOS14 property as well?

Thanks ;)

[2020-06-28 09:38] #74 closed, assigned to nobody

[2020-06-28 10:25] dmytro-anokhin commented on #75
I removed this assert in 0.9.17. Lazy views seem to trigger appear/disappear calls almost at the same time and this created a race condition. But it is safe to assume that image downloader is not ready when we trigger load. This means that it was already cancelled from disappear call.

[2020-06-28 10:25] #75 closed, assigned to dmytro-anokhin

[2020-06-28 10:32] dmytro-anokhin opened #78 "iOS 14 Compatibility"
**Current version of the package is compatible with iOS 14 beta, build 18A5301v.**

For any bugs you encounter comment out in this issue and I will make fix them. Note that iOS 14 is in early beta and there is a high chance to encounter a bug in SwiftUI itself.

Please provide the sample code so I can tackle bugs quicker.

[2020-06-28 10:35] dmytro-anokhin commented on #75
@mspusta78 this issue is for the crash. I created a separate one to tackle compatibility bugs: #78

[2020-06-28 10:36] dmytro-anokhin commented on #78
.clipped() property is being ignored when URLImage is in the NavigationLink

Link to report: https://github.com/dmytro-anokhin/url-image/issues/75#issuecomment-650696921

@mspusta78 can you please provide a sample code for this issue.

[2020-06-28 10:36] dmytro-anokhin commented on #78
~iOS14 introduced~
~.renderingMode(.original)~

Link to report: https://github.com/dmytro-anokhin/url-image/issues/75#issuecomment-650696921

This is not new in iOS 14 and is supported like every standard view modifier on `Image`.

[2020-06-28 14:04] dmytro-anokhin commented on #71
Released 0.9.17

[2020-06-28 14:04] #71 closed, assigned to dmytro-anokhin

[2020-06-29 00:57] sGerli opened #79 "Customizations type issue"
**Summary and/or background**
After this last update when I try to apply customizations to the proxy image it throws a type error.

`Cannot convert value of type 'some View' to closure result type 'Image'`

I've tried using the suggested fix of using `as Image` but that causes the app to crash.

**OS and what device you are using**
 - OS: iOS
 - iPhone 11

**Version of URLImage library**
0.9.17
-

[2020-06-29 07:30] dmytro-anokhin commented on #79
Hi, I put your code in my test view and it compiles with no problems:

[code]

Xcode 11.5 (11E608c) and 12.0 beta (12A6159)

Can you please share the full code of your view?

[2020-06-29 12:51] gatfil opened #80 "Cannot convert value of type 'some View' to closure result type '_'"
Hi,
I follow this example: **Using in a view** and I have return this error: _Cannot convert value of type 'some View' to closure result type '\_'_ (ERROR 1)
If I remove the line I have return this error (ERROR 2): _Cannot convert value of type 'some View' to closure result type 'Image'_

- OS: iOS
- Device or simulator: Build
- Xcode: 11.5
- Target: iOS 13.5

[code]
Thank you
Filippo

[2020-06-29 14:39] sGerli commented on #79
I'm using Xcode 11.5. Yeah you were right, I accidentally left out an important part. After going back and checking it it looks like it only happens when there's a placeholder and a customization with some modifiers. When I removed all the modifiers the error seemed to go away, but when I brought back some of them like aspectRatio it came back.

So here i'll leave a complete example:
[code]

[2020-06-29 19:49] dmytro-anokhin commented on #79
Placeholder type was incorrect. Fixed in 0.9.18.

[2020-06-29 19:49] #79 closed, assigned to nobody

[2020-06-29 19:50] dmytro-anokhin commented on #80
Duplicate of #79. Fixed in 0.9.18

[2020-06-29 19:50] #80 closed, assigned to nobody

[2020-06-29 20:09] dmytro-anokhin commented on #63
Hey, this happens because the cache is accessed in a secondary thread while SwiftUI view is updated on the main thread. This could be solved by introducing lightweight in-memory cache. For now my recommendation here would be to only update the data that changes.

[2020-06-29 20:20] dmytro-anokhin commented on #13
I haven't got a response on the submitted feedback, but the issue is not reproducible in iOS 14 beta.

[2020-06-29 20:20] #13 closed, assigned to nobody

[2020-06-29 20:22] dmytro-anokhin commented on #41
This is not critical and I don't think I can do much to fix this.

[2020-06-29 20:22] #41 closed, assigned to nobody

[2020-06-29 20:27] #44 closed, assigned to nobody

[2020-06-29 20:32] dmytro-anokhin commented on #68
Can not reproduce: I put 50 images with the same URL in a `List` and each is displayed as expected.

[2020-06-29 20:34] dmytro-anokhin commented on #72
Hey, what's your suggestion on API design?

[2020-06-30 01:02] mspusta78 commented on #78
Thank you @dmytro-anokhin for all your help and replies.

Here is my code

URLImage(URL(string: item.productImage[0].imageURL)!,
                                         delay: 0.5,
                                         processors: [ Resize(size: CGSize(width: 100.0, height: 100.0), scale: UIScreen.main.scale) ],
                                         content:  {

[2020-06-30 15:55] dmytro-anokhin commented on #78
I see. This happens because you try to apply `renderingMode` modifier to a type that is not `Image`. Check declaration of `aspectRatio`:
[code]

and `renderingMode`:

[code]

[2020-07-01 09:14] gedeagas opened #81 "Image not loaded on WidgetKit"
**Summary and/or background**
url-image is not working on WidgetKit when displaying image

**OS and what device you are using**
iPhone simulator, iPhone 11 Pro

**Version of URLImage library**
- [x] The bug is reproducible in the latest version.

**What you expected would happen**
Working normally

**What actually happens**
Not working

**Sample code**
[code]

**Test data**
https://picsum.photos/2

[2020-07-01 17:20] dmytro-anokhin commented on #81
Widgets are not working on Simulator right now (https://developer.apple.com/forums/thread/650831) and I don't have a spare device to install iOS 14 beta. Let's wait for the next beta.

[2020-07-01 17:21] dmytro-anokhin commented on #78
~Image not loaded on WidgetKit #81~

Views can not trigger asynchronous operations in widgets.

[2020-07-01 20:04] gedeagas commented on #81
@dmytro-anokhin hi, just found out that in WidgetKit drawing the view is a synchronous operation, so you cannot use views that perform asynchronous tasks (like image fetching) directly.

Related discussion here
https://developer.apple.com/forums/thread/652581

[2020-07-01 21:50] dmytro-anokhin commented on #81
I see. I will keep this in mind, but I guess there is nothing I can do.

[2020-07-01 21:50] #81 closed, assigned to nobody

[2020-07-09 07:19] nylz opened #82 "How to do a forced reload / refresh?"
**Is your feature request related to a problem? Please describe.**
I've been searching pretty long for a solution, to force a reload to an image. How can I do that?

**Describe the solution you'd like**
A simple "Reload" - function, that reloads and displays the new image.
Maybe something like URLImageService.shared.refresh(with: url)
Or just a simplier solution described, if there is one. So furt

[2020-07-09 07:49] dmytro-anokhin commented on #82
Hey, you can remove cached image by URL:
[code]

[2020-07-09 07:49] #82 closed, assigned to nobody

[2020-07-09 09:18] nylz commented on #82
Hi, yes, i know, but this does not refresh the URLImage-Component in my current view.
Only when I enter this view next time, it is reloaded. I want to trigger the URLImage to load the new version from server and display it, without refreshing everything else.

[2020-07-09 11:16] dmytro-anokhin commented on #82
After removing cached image `URLImage` will load it again. But you must trigger update, for instance by changing you `@State` property.

[2020-07-09 15:10] nylz commented on #82
Ok, this is not very beautiful, but it is working. Thank You so much. You can close this.

Explanation:
I had a simple dynamic function before, that provided the Url. like (pseudocode)
   `URLImage(url: getAvatarUrl(self.session.currentuser.id) ...)`

now i changed it to
[code]
and after uploading (onSuccess):

`           let prevUrl = self.avatarUrl ... (+ ?? default)
            self.avatarUrl

[2020-07-15 20:34] ehamwey commented on #78
On occasion I am finding that URLImage will display a placeholder for images inside a Form{} view. This is only exhibited on iOS 14.

iOS 13.5: vs. iOS 14.0:
<img src="https://user-images.githubusercontent.com/9936886/87593065-d8b14600-c6b8-11ea-9f65-47b0d45d54a3.png" width=320px><img src="https://user-images.githubusercontent.com/9936886/87592586-1f527080-c6b8-11ea-8f64-d10a215584c2.png" width=32

[2020-07-16 20:10] dmytro-anokhin commented on #78
@ehamwey my test view works with no issues. Here is the code:

[code]

There must be something else that triggers the issue. Can you isolate the bug in a standalone sample code?

[2020-07-16 20:11] ehamwey commented on #78
@dmytro-anokhin yes, will isolate and report back.

[2020-07-18 00:18] mspusta78 commented on #78
@dmytro-anokhin could you please verify that the issue with Lazy load has been resolved.
My app keeps crashing intermittently when using URLImage with LazyVGrid or LazyVStack.

I tried to add
 delay: 1.0,
but that didn't help.

The code seems to crash in DownloadCoordinator.swift

   fileprivate func notifyHandlersAboutCompletion(_ data: Data?, fileURL: URL) {
        log_debug(self, "Notify compl

[2020-07-18 13:18] MrLeaw commented on #78
I have a problem when using URLImage inside of lists. It glitches away when you scroll and then the placeholder image is displayed. I have created a simple Xcode project where I have the same issue.

[code]

this is basically all you need to replicate this.

[2020-07-18 17:32] dmytro-anokhin commented on #78
@mspusta78 can you please share the sample code to reproduce the crash? Would be great if you could isolate the issue in a playground or a piece of code without dependencies. Also what Xcode, OS, and is it simulator/device?

[2020-07-18 17:37] dmytro-anokhin commented on #78
@MrLeaw thanks for the sample. Issues with scrolling could be because the view size is based on image size and is unknown before the image is loaded. Setting `frame` on `URLImage` can help and provides better UX in a `List`.

[2020-07-20 03:28] mspusta78 commented on #78
@dmytro-anokhin
I created a sample project for you that uses LazyVgrid and LazyVStack. If I just use LazyVGrid alone all is working fine; however, as soon as I try to use both at the same time.  The app crashes immediately on the real device as well as on Simulator if you scroll the top LazyVGrid really fast down.... (LazyVStack seems to be more stable, and if you scroll the LazyVStack first all t

[2020-07-20 09:51] dmytro-anokhin commented on #78
@mspusta78 thank's for the sample project, this is really helpful. I will look into it later today. At a glance the crash looks like memory corruption, seems like handlers were deallocated while enumerating. `countByEnumeratingWithState:objects:count:` - this is Objective-C fast enumeration. I don't think error log is relevant to the crash, but good to have it just in case.

[2020-07-20 19:37] dmytro-anokhin commented on #78
I discovered a data race that leads to the crash. Fix is coming in 0.9.19.

[2020-07-20 19:49] dmytro-anokhin commented on #78
@mspusta78 v0.9.19 contains a fix. Please validate and let me know if it works.

[2020-07-20 21:53] mspusta78 commented on #78
@dmytro-anokhin Great job!!!!! I just pulled down the 0.9.19 version and everything seems to be working.

I'll do more testing in my other projects and will keep you posted, but so far everything looks good

!!!!!Thank you so much!!!!!

[2020-07-21 06:40] imberezin commented on #78
i have same issue!

[2020-07-21 06:57] dmytro-anokhin commented on #78
@imberezin what version do you have? The crash should be fixed in 0.9.19

[2020-07-21 08:45] imberezin commented on #78
Hey
I update to in 0.9.19- work fine

Thanks
Israel

From: Dmytro Anokhin <notifications@github.com>
Reply-To: dmytro-anokhin/url-image <reply@reply.github.com>
Date: Tuesday, 21 July 2020 at 9:57
To: dmytro-anokhin/url-image <url-image@noreply.github.com>
Cc: Israel Berezin <israel.berezin@kaltura.com>, Mention <mention@noreply.github.com>
Subject: Re: [dmytro-anokhin/url-image] iOS 14 Compatibil

[2020-07-21 09:19] dmytro-anokhin commented on #72
I will keep this idea in mind for future versions.

[2020-07-21 09:19] #72 closed, assigned to nobody

[2020-07-21 09:21] dmytro-anokhin commented on #68
Closing as cannot reproduce

[2020-07-21 09:21] #68 closed, assigned to nobody

[2020-07-24 07:54] KyleHorkley commented on #78
I'm having issues with the placeholder being constantly shown and the images won't appear until the view updates (in a tabbed view). Didn't have this problem until iOS 14 b3. Anyone else having problems with this? Any fixes?

[2020-07-24 08:38] dmytro-anokhin commented on #78
@KyleHorkley hey, please try isolation the issue in a sample code without dependencies and I will investigate it.

[2020-07-24 08:51] KyleHorkley commented on #78
@dmytro-anokhin My apologies as it's a bit of a code dump, but it's a pretty basic implementation (https://repl.it/join/skmqttfk-kylehorkley). Running on the simulator works perfectly (not sure what beta the sim is on?)

[2020-07-24 11:31] dmytro-anokhin commented on #78
@KyleHorkley I can't access the link without signing up, can you please share it on github?
Re: simulator - you can find version in Xcode, Devices and Simulators tool.

[2020-07-24 11:40] KyleHorkley commented on #78
Ahhh my bad, here’s the link (accidentally shared the private one): https://repl.it/@KyleHorkley/DarkseagreenBitterNetwork#HomeView.swift

[2020-07-25 07:47] KyleHorkley commented on #78
@dmytro-anokhin I upgraded to beta 3 of Xcode and ran a build and it's now working perfectly. Not sure why that was being affected.

[2020-07-31 10:54] carlosrc commented on #56
This feature would be very useful

[2020-08-02 09:40] Leinadzet commented on #70
This! +1

[2020-08-03 10:50] dcamenisch commented on #78
I found that when using URLImage inside a NavigationLink, it will display only a blue square and not the image it is supposed to load. Interestingly, if I add a placeholder, it will show the placeholder for a short amount of time and then switch to the blue square.

[code]

Edit: I'm using version 0.9.19

[2020-08-03 12:33] dmytro-anokhin commented on #78
Hey @DannyCamenisch, try setting rendering mode to `.original`

[2020-08-03 13:15] dcamenisch commented on #78
@dmytro-anokhin it worked, thank you!

[2020-08-15 15:19] Djibs commented on #78
Hello,

I have an error when I use ".resizable()" (Xcode 12 Bêta 4). And errors below also appear.

-> Value of type 'URLImage<Image, Image, Image>' has no member 'resizable'

![DJIBS 2020-08-15 à 17 19 02](https://user-images.githubusercontent.com/1236842/90315386-6df36480-df1b-11ea-8f62-113697514c58.jpg)

If I remove "resizable", no more errors and the application works

[2020-08-15 19:47] dmytro-anokhin commented on #78
Hey @Djibs, `.resizable` is a method of `Image` type. Please see examples in readme file how to use it.

[2020-08-20 00:56] 0radek opened #83 "URLImage not working inside Button"
**Summary and/or background**
Using `URLImage` inside Button does not work, unless renderingMode is provided.  If I use URLImage anywhere else, works just great!

I am wondering if this is working as intended.

**OS and what device you are using**
ios 13, iphone 7

**Version of URLImage library**
- [ ] The bug is reproducible in the latest version.

**What you expected would happen**
Image would l

[2020-08-20 06:28] dmytro-anokhin commented on #83
Hey,

thank you for the sample code.

This issue is not a bug. I assume you use this code in the navigation bar or other system element that forces `renderingMode` to `template`. I see this reports a lot, but this is system behaviour - you can try with regular image.

Only thing you can do is to submit feedback to SwiftUI team at Apple 🙂 Maybe with enough reports they will revisit this.

[2020-08-20 06:28] #83 closed, assigned to nobody

[2020-08-20 16:25] 0radek commented on #83
Ah okay!  Thanks for the response, my apologies I'm new to swift/ios and was unsure.

[2020-09-05 18:11] rico-crescenzio-distilled opened #84 "LazyVStack containing a list of images is choppy when scrolling."
**Summary and/or background**
When using a `LazyVStack` contained in `ScrollView` to render lazily views (for example when working with large amount of data) and these views contain an `URLImage`, scrolling is very choppy.

**OS and what device you are using**
 - OS: iOS 14 beta, Xcode 12 Beta 6
 - iPhone X

**Version of URLImage library**
0.9.19
- [ x] The bug is reproducible in the latest versio

[2020-09-07 18:29] dmytro-anokhin commented on #84
Hey, thank you for reporting and sample code. I'm a bit busy, but I will address this issue when I get time.

[2020-09-10 17:01] Vercisor commented on #70
This would be awesome!

[2020-09-10 19:16] dmytro-anokhin commented on #70
Hey, this is not trivial because data logic is tightly coupled with image decoding. But I'm working on next version of the package and it will allow download/use cached images without view part. I hope to share updates soon.

[2020-09-10 20:17] Leinadzet commented on #70
Thx for the hard work!

[2020-09-18 05:59] lisindima opened #85 "Image not displayed with resize processor on iOS 14.2"
**Summary and/or background**
Running on an iOS 14 device changed the expected behavior of the package. If a resize processor is used, the image will not be displayed correctly. The problem disappears if you don't use it

**OS and what device you are using**
 - OS: iOS 14.2
 - Simulator 14.2 and iPhone 11 Pro iOS 14.2

**Version of URLImage library**
- 0.9.19
- [X] The bug is reproducible in the l

[2020-09-18 08:55] dmytro-anokhin opened #86 "Roadmap to v2.0"
## Motivation

URLImage has grown from a small library to a functional package. Since original release after WWDC 2019, features like incremental loading, flexible image cache, filters, were implemented. Besides that, a number of feature requests implemented, bugs fixed, SwiftUI learned, and pitfalls discovered. I'm grateful everyone who helped me to investigate bugs and created feature request. T

[2020-09-18 12:36] racsol opened #87 "iOS 14 Crash using 0.9.19"
My apps uses a huge List inside a NavigationView and when I enter the screen that have the huge list I got the following crash:

`
ignoring singular matrix: ProjectionTransform(m11: 5e-324, m12: 0.0, m13: 0.0, m21: 0.0, m22: 5e-324, m23: 0.0, m31: 5.0, m32: 5.0, m33: 1.0)
(lldb)
`

Working great in the previous iOS version and the app doesn't crash if I remove the URLImage code:

My code:

`
retur

[2020-09-19 05:13] dmytro-anokhin commented on #87
Hey,

this is the first time I see this bug. I will need more information to investigate this issue:

- How many images?
- Is it a specific image that cause the issue?

If this is a public source please provide test images.

And some questions about view hierarchy:

- Do you use plain `URLImage` as a `Row` in the `List`?
- What modifiers on the `List` and `NavigationView`?
- Any other views in the

[2020-09-19 05:16] dmytro-anokhin commented on #85
Hey, if you can - please don't use it for now. I need some time to investigate. Thank you for detailed report.

[2020-09-25 17:55] dmytro-anokhin commented on #86
Weekly update

- Version 2.0.0 can download, display, and cache images;
- Introduced basic dependencies:
    - DownloadManager, ImageDecoder, and FileIndex as local packages;
    - RemoteContentView as a target.
- Added a playground to demonstrate usage.

The goal for the next week is to have first alpha release.

[2020-09-27 17:31] #3 closed, assigned to dmytro-anokhin

[2020-09-27 17:48] dmytro-anokhin commented on #78
Closing this as there are no new compatibility issues reported.

[2020-09-27 17:48] #78 closed, assigned to dmytro-anokhin

[2020-09-30 17:04] lisindima commented on #85
on iOS 14.2 beta 2 the problem persists

[2020-10-01 17:22] wiredag opened #88 "URLImage Never Loads Image in Widget App for SwiftUI"
**Summary and/or background**
Simple code for an iOS Widget, I have verified the meme is loaded with the meme.url value from an earlier HTTP request. I've also checked printing the url text on it's own and that works too, but I can't load the image with the URLImage package. I've tried on the widget and the contentview as well and no results. Any ideas?

meme.url is a URL type which is an optional

[2020-10-01 21:25] wiredag commented on #88
Wanted to add that the problem is the call is happening Asynchronously and Widgets can't handle that. I found a workaround without URLImage in case you are interested:

`struct MemeView: View {
    var meme: MemeModel

    var body: some View {
        Group {
            if let url = meme.url!, let imageData = try? Data(contentsOf: url),
           let uiImage = UIImage(data: imageData) {

[2020-10-02 07:21] dmytro-anokhin commented on #88
Hey,

you right, the image won't load because WidgetKit is synchronous. Here is related topic on Apple forum: https://developer.apple.com/forums/thread/652581

Currently I'm working on the next version that will have a way to download images separately from a view. This will allow using `URLImage` with WidgetKit. You can see progress here: #86

[2020-10-02 07:21] #88 closed, assigned to nobody

[2020-10-02 16:31] dmytro-anokhin commented on #86
Weekly update:

- First (and second) alpha
- Moved code to targets for convenience
- Added default views for empty and in progress states
- Implemented cache access policies

Goals for the next week:

- Download images in widgets
- Cache cleanup
- Start documentation

[2020-10-06 14:09] LuboZ commented on #87
Hi, same problem, iOS 14.01
Using URLImage in Hstack in List

[2020-10-09 17:52] dmytro-anokhin commented on #86
Weekly update:

- Use identifier additionally to URL
- File extension derived from image type
- Download after delay
- Cache cleanup
- Lazy cache cleanup on access

I also started work on documentation and explored possibilities to download images in WidgetKit.

Next week I plan to release first beta.

[2020-10-12 00:04] abbasmousavi commented on #84
on tvOS when I use image inside NavigationLink that is inside a LazyVStack I get a crash with this error
```Attempted to read an unowned reference but the object was already deallocated```
I am using 2.0.0alpha.1

<img width="955" alt="Screen Shot 2020-10-12 at 1 05 41 AM" src="https://user-images.githubusercontent.com/1249875/95693957-217c8a80-0c27-11eb-8dd4-26fa88042ad8.png">

[2020-10-12 05:10] dmytro-anokhin commented on #86
There's new alpha 🥳

In addition to previous week changes it includes:
- Report download progress;
- Download error type changed from `URLError` to generic `Error` to handle for `CFURLError`;
- Delay is now passed in associated values of cache policy;
- Catalyst support;
- Expired images not deleted from cache lazily;
- Handling download retry;
- Stability improvements.

Beta build is coming soon.

[2020-10-13 20:18] dmytro-anokhin commented on #86
Beta time 🥳 I'm pretty happy with new API and plan to keep it.

Additionally to previous updates, there are few more features:
- Return cached don't load policy fallback to empty state if an image is not in the cache;
- Remove an image by identifier or URL;
- Images are downloaded using `NSURLSessionDownloadTask`.

What's left for v2.0:
- Implement cleanup of caches from the previous version;
- Fi

[2020-10-14 20:16] jackhiggins709 commented on #84
@dmytro-anokhin I am also encountering @rico-crescenzio-distilled's issue. LazyVStack performance is pretty sluggish...

[2020-10-15 20:28] dmytro-anokhin commented on #84
Hey,

I reread your report. If you suspect that loading cause performance degradation you can add a small delay:
[code]
This way download won't start immediately and will be gracefully cancelled when the view disappears.
Alternatively, you can try using `List` since it's reusing views.

I'm currently working on version_2 (#86). You can already try using it. I will definitely look at performance wi

[2020-10-15 20:53] dmytro-anokhin commented on #86
New beta, here are the changes:
- Implemented cleanup files from the previous version
- Fixed `returnCacheDontLoad` policy;
- Cache images read from disk in memory

BTW, you can configure SPM to track concrete branch if you feel lucky 😀

[2020-10-16 21:02] jackhiggins709 commented on #84
Hey @dmytro-anokhin,

Unfortunately, I did not see any performance improvements after adding a .25 delay.

Originally, I was using a `List`, but due to do limitations in iOS14 we're unable to remove the cell separators like in iOS13, that being said we're required to use `LazyVStacks` in order to prevent excessive memory usage with traditional `VStacks`. I think this is going to be a pretty big is

[2020-10-17 05:33] dmytro-anokhin commented on #86
Created a demo app that I will fill in with various how-to's: https://github.com/dmytro-anokhin/url-image-demo

[2020-10-21 02:07] dmytro-anokhin commented on #86
version_2 is now in master: #89 🎉
Some more testing and cleanup coming before official release. I will keep this issue updated.
I will also be closing long lasting open issue that I had no time to resolve.

[2020-10-22 02:48] dmytro-anokhin commented on #86
Version 2 is officially out 🥳🎉

New structure should allow me to fix bugs and implement new features faster. I already have exciting features planned for the future.

On this note, I'm also dropping support for previous versions, so please consider updating.

Cheers!

[2020-10-22 02:48] #86 closed, assigned to dmytro-anokhin

[2020-10-22 02:59] dmytro-anokhin commented on #33
Closing this issue because there was no activity on it for a while.

[2020-10-22 02:59] #33 closed, assigned to nobody

[2020-10-22 03:00] dmytro-anokhin commented on #43
Closing this issue because there was no activity on it for a while.

[2020-10-22 03:00] #43 closed, assigned to dmytro-anokhin

[2020-10-22 03:01] dmytro-anokhin commented on #43
~~Note: v2.0 supports animation.~~

[2020-10-22 03:01] dmytro-anokhin commented on #48
Closing this issue because there was no activity on it for a while.

[2020-10-22 03:01] #48 closed, assigned to dmytro-anokhin

[2020-10-22 03:01] dmytro-anokhin commented on #50
Closing this issue because there was no activity on it for a while.

[2020-10-22 03:01] #50 closed, assigned to nobody

[2020-10-22 03:02] dmytro-anokhin commented on #56
Closing this issue because there was no activity on it for a while.

[2020-10-22 03:02] #56 closed, assigned to dmytro-anokhin

[2020-10-22 03:02] dmytro-anokhin commented on #51
Closing this issue because there was no activity on it for a while.

[2020-10-22 03:02] #51 closed, assigned to nobody

[2020-10-22 03:03] dmytro-anokhin commented on #61
Closing this issue because there was no activity on it for a while.

[2020-10-22 03:03] #61 closed, assigned to dmytro-anokhin

[2020-10-22 03:04] dmytro-anokhin commented on #63
Version 2.0 uses in memory cache to synchronously display images. This should solve the problem.

[2020-10-22 03:04] dmytro-anokhin commented on #63
Closing this issue because there was no activity on it for a while.

[2020-10-22 03:04] #63 closed, assigned to nobody

[2020-10-22 03:07] dmytro-anokhin commented on #70
Version 2.0 uses new structure that allows me to implement this feature. I will keep this issue updated.

[2020-10-22 03:11] dmytro-anokhin commented on #84
Please update to v2.0. My test app shows performance improvement with lazy views.

[2020-10-22 03:15] dmytro-anokhin commented on #85
Sorry, but I'm no longer supporting v0.9. I removed processing pipeline from v2.0 as it was quite complex. Maybe will reintroduce it later.

[2020-10-22 03:15] #85 closed, assigned to nobody

[2020-10-22 03:18] dmytro-anokhin commented on #87
Closing this issue as there are not enough information to investigate. Also I'm no longer supporting v0.9, please consider updating to v2.0.

[2020-10-22 03:18] #87 closed, assigned to nobody

[2020-10-22 03:23] dmytro-anokhin opened #90 "Version 2.1"
This issue is for development updates related to version 2.1

Current plan is:
- Reintroduce watchOS support;
- Public API for downloading and accessing cached images

[2020-10-23 03:32] Karthicc23 opened #91 "iOS 14 Compatible?"
I get compile errors for iOS 14 deployment target.

[2020-10-23 04:58] dmytro-anokhin commented on #91
Hey, any additional clues, what kind of errors?

[2020-10-23 05:00] Karthicc23 commented on #91
Sorry it was some arch errors. I figured it out from my end. But I cannot read image from url in ios 14 widget using URLImage

[2020-10-23 05:05] dmytro-anokhin commented on #91
Ok, cool 👍
WidgetKit limits asynchronous operations, see: https://developer.apple.com/forums/thread/652581. Support is coming in future updates.

[2020-10-23 05:05] #91 closed, assigned to nobody

[2020-10-23 20:31] dmytro-anokhin commented on #90
Gonna use GitHub Projects for this version

[2020-10-23 20:31] #90 closed, assigned to dmytro-anokhin

[2020-10-25 15:45] adnanafzal565 opened #93 "I was going to say "thank you" but it is not allowing me to delete this as an issue."
I was going to say "thank you" but it is not allowing me to delete this as an issue.

[2020-10-25 15:45] adnanafzal565 opened #94 "I was going to say "thank you" but it is not allowing me to delete this as an issue."
I was going to say "thank you" but it is not allowing me to delete this as an issue.

[2020-10-25 17:31] #93 closed, assigned to nobody

[2020-10-25 17:32] #94 closed, assigned to nobody

[2020-10-25 20:05] dmytrostriletskyi opened #95 "Pod update or install for 2.1.0 release doesn't work"
Hi!

Having the following `Podfile`:

[code]

I am not able to update from 0.9.19 or install 2.0.0:

[code]

[2020-10-25 22:45] dmytro-anokhin commented on #95
Hey,

it's a known issue, at the moment v2 can't be installed via CocoaPods. I'm exploring possible solutions, but can't give any estimates.

[2020-10-26 06:30] montehurd opened #96 "2.1.0 - changing initial image url shows placeholder until the view's visibility is toggled"
**Summary and/or background**
Changing initial image url requires a view visibility toggle before the newly fetched image appears.

**OS and what device you are using**
 - OS: iOS
 - All Simulators

**Version of URLImage library**
- [x] The bug is reproducible in the latest version.

**What you expected would happen**
When you change the initial url, the new image should be shown after it is fetch

[2020-10-26 06:43] montehurd commented on #96
btw thanks for the great library! it's super useful!

[2020-10-26 18:09] dmytro-anokhin commented on #96
Hey, thanks for reporting and the sample code. I will look into this later today.

[2020-10-26 23:16] dmytro-anokhin commented on #96
`URLImage` starts loading from `onAppear` callback. What happens in your example, because the view already presented `onAppear` won't get called, and therefore loading won't start. To ensure loading starts I added additional trigger to `init`. This way `URLImage` will always start loading. I also keep old triggers so it can still cancel/resume on appearance callbacks.

[2020-10-26 23:16] dmytro-anokhin commented on #96
The fix is in 2.1.1

[2020-10-27 02:39] montehurd commented on #96
Oh very nice! Ya I noticed `onAppear` wasn't being re-triggered - have run into similar issues with my own SwiftUI 😜. Thanks for the quick turn-around!

[2020-10-27 18:59] dmytro-anokhin commented on #96
Cool, thanks for verifying. I'm closing the issue.

[2020-10-27 18:59] #96 closed, assigned to dmytro-anokhin

[2020-10-28 17:09] dmytro-anokhin commented on #84
I assume this is fixed if no reply

[2020-10-28 17:09] #84 closed, assigned to dmytro-anokhin

[2020-10-28 17:11] ricocrescenzio95 commented on #84
Sorry, I actually didn't have chance to test it

[2020-10-28 22:49] NoahKamara opened #98 "Crashing: URLImage in tvOS NavigationLink"
**Summary and/or background**
Whenever I try to use URLImage inside a NavigationLink in tvOS I get the following errors. (as soon as I focus the navigationLink)

It seems to be the same issue @abbasmousavi had but it wasn't addressed.
```Attempted to read an unowned reference but the object was already deallocated```
I am using 2.0.0alpha.1

<img width="955" alt="Screen Shot 2020-10-12 at 1 05 41

[2020-10-29 06:23] dmytro-anokhin commented on #98
Hey, thank you for proper bug report.

The crash is reproducible and I'm looking into it. This happens when object wrapped in `@ObservedObject` changes in `onDisappear`. I use it to cancel pending downloads. But the crash happens when `onDisappear` is triggered from `dealloc` of hosting `UIView`. I'm not sure if there is a guide not to publish changes in `onDisappear`.

For now, please comment out

[2020-10-29 11:39] NoahKamara commented on #98
Hey,
thanks for the quick reply.
Keep up the great work I use this Package all the time :D

[2020-10-31 21:03] dmytro-anokhin commented on #98
Hey, thanks, glad to hear this.
The fix is in 2.1.2. I tested and it works. I'm closing this issue, feel free to reopen if you still can reproduce it. Cheers.

[2020-10-31 21:03] #98 closed, assigned to dmytro-anokhin

[2020-11-01 12:16] lisindima opened #100 "Huge peak memory consumption while displaying images"
**Summary and/or background**
The moment I open my list with a large number of images, there is a huge peak in memory consumption. Sometimes this does not happen in the same situation, I could not understand this pattern. I also notice this problem in your demo application for this package. When I choose the option with the largest images.

**OS and what device you are using**
 - OS: 14.2 RC (18B9

[2020-11-01 21:38] dmytro-anokhin commented on #95
Hey, you can now install 2.1.3 with CocoaPods

[2020-11-01 21:38] #95 closed, assigned to nobody

[2020-11-02 06:24] dmytro-anokhin commented on #100
Memory spikes happen naturally because images are big, this is not necessarily a bug. However, version 2 is missing control over maximum size of a decoded image. Adding this will help reduce memory consumption. I'm working on it.

[2020-11-02 06:26] dmytro-anokhin commented on #100
And thank you for detailed report 👍

[2020-11-02 18:06] dmytro-anokhin commented on #100
Hey,

there's a new version 2.1.4. You can now specify maximum image dimensions in pixels using `maxPixelSize` property of `URLImageOptions`. It defaults to 300x300. I picked this number randomly, maybe will change it or introduce some logic based on the device type in the future.

Using `maxPixelSize` eliminates memory spikes in my tests. I'm closing the issue, but feel free to reopen if you disc

[2020-11-02 18:06] #100 closed, assigned to dmytro-anokhin

[2020-11-05 01:38] azamsharp opened #104 "Where are installation instructions?"
Where are the installation instructions???

[2020-11-05 06:11] dmytro-anokhin commented on #104
Hey, the package can be installed using Swift Package Manager and Cocoa Pods. Both tools are pretty straight forward to use and how-to's can be looked up in no time. Nevertheless, I'm open for constructive suggestions how installation instructions can be improved.

[2020-11-05 07:18] dmytro-anokhin commented on #104
I've updated readme and added links to SPM and Cocoa Pods documentation. This should be sufficient enough for you to start using the package. Cheers.

[2020-11-05 07:18] #104 closed, assigned to nobody

[2020-11-07 16:52] CollinAlpert opened #105 "Download doesn't start for some PNG images"
**Summary and/or background**
In some instances, when displaying a PNG image, the download doesn't start. I have verified this by using the `empty` argument. Unfortunately, I cannot create a reproduction view, because every time I do, it works. But in my app, when trying to display a PNG image, the download does not start. I know not being able to provide a reproduction is unfortunate, but is ther

[2020-11-07 18:47] dmytro-anokhin commented on #105
Hey, what arguments do you pass to `URLImage`, how do you construct URL?

[2020-11-07 19:49] CollinAlpert commented on #105
I wrote this extension method:
[code]

And then one possible call would be the following:
[code]

[2020-11-07 20:09] dmytro-anokhin commented on #105
I see, but this is a different URL. Is this URL also not loading?

[2020-11-07 20:18] CollinAlpert commented on #105
Yes, different URL, but it also doesn't work. I've tried multiple PNG images.

[2020-11-07 20:25] dmytro-anokhin commented on #105
Both URLs work on my machine, but I use iOS 14.0 simulator. I'm gonna install 14.1 and get back to this issue tomorrow. In meanwhile, if you want to investigate, there is Log.swift file where you can `log_detail = log_all`.

[2020-11-07 21:07] CollinAlpert commented on #105
Thanks, I'll check that out. Like I said, if I just build a small repro, it also works for me. I was just wondering if you were aware of some issues in any specific constellations.

[2020-11-08 15:48] dmytro-anokhin commented on #105
Hey, I don't see any issues with 14.1. There's probably something around that causes the issue. I'm gonna mark the issue as "Cannot Reproduce" but keep open for some time. I appreciate help in finding a reproducible scenario.

[2020-11-08 18:29] pballart opened #107 "Remove image cache with completion block"
**Is your feature request related to a problem? Please describe.**
I'm trying to remove an image that is cached but since the progress happens in a background thread I don't know when it has completed.

**Describe the solution you'd like**
It would be nice to have a completion block called when the process finish so I can refresh the UI and be sure that the image will be downloaded from network an

[2020-11-09 19:52] dmytro-anokhin commented on #107
Hey, I need to think about the problem. At a glance adding a completion seems like a solution. On a second thought it doesn't fit SwiftUI declarative syntax. Also I would expect image to be deleted from cache immediately. So this is more of a race between the view and the cache. Anyways, thanks for reporting 👍

[2020-11-09 20:22] CollinAlpert commented on #105
I just tried adding the dependency via CocoaPods and it works fine (appears to be using version 2.1.4)! I was previously using the Swift package manager and version 2.0.0 which didn't work for me. I doubt it was the switch to CocoaPods that fixed it so it must be something in the code since then.

[2020-11-10 05:40] dmytro-anokhin commented on #105
Cool. BTW you can install 2.1.4 via SPM

[2020-11-10 05:40] #105 closed, assigned to nobody

[2020-11-10 21:49] dmytro-anokhin commented on #107
The version in master branch will delete images using barrier and this should guarantee that images are always deleted before being accessed. Can you please try it and see if it solves your case? I'm gonna do a bit more testing before making a release.

[2020-11-11 18:30] pballart commented on #107
Hey @dmytro-anokhin thanks for taking a look. I just tested the master branch and I'm seeing same issue. to give a bit of context I have a view that has an URLImage and a button. When tapping the button I open the native UIImagePicker, select another image upload it to the server and save the url. Open saving, the view is updates because of a model change and the new image should appear.
Something

[2020-11-11 18:52] pballart commented on #107
Digging a bit deeper I could find that after removing the image from both the database and disk, once the view reloads and the URLImage tries to get it from cache it actually still exists in the database and return a correct file.
It's super weird because using an identifier also fixes the problem, it just in the case of the URL that doesn't work 🤔

[2020-11-11 21:07] dmytro-anokhin commented on #107
Can you provide a sample code?

[2020-11-11 21:34] dmytro-anokhin commented on #107
From my side, this is how I'm testing it: https://github.com/dmytro-anokhin/url-image-demo/blob/main/URLImageDemo/View/Issues/Issue107View.swift

[2020-11-12 01:30] jerryzhoujw opened #111 "[iOS AppClip] Swift UI say error when use this URLImage"
**Summary and/or background**
SwiftUI say error when use this URLImage.
Update:
Looks like it related to App Clip's problem.

**OS and what device you are using**
 - OS: iOS
 - PreviewProvider

**Version of URLImage library**
0.9.19
- [x] The bug is reproducible in the latest version.

**What you expected would happen**
no error

**What actually happens**
error

<img width="1196" alt="Screen Shot

[2020-11-12 02:18] jerryzhoujw commented on #111
https://github.com/Alamofire/Alamofire/issues/3051#issuecomment-580003683

it's closed with this comment.

[2020-11-12 02:18] #111 closed, assigned to nobody

[2020-11-12 03:01] atharvsharma1998 opened #112 "image does not set in frame inside ForEach"
**Summary and/or background**
when i am using urlimage inside ForEach the images are not fitting inside defined frame

**OS and what device you are using**
 - OS: 14.1
 - simulator 11 pro max

**Version of URLImage library**
The version of the library where the bug happens.
- The bug is reproducible in the latest version.

**Sample code**
ForEach(HomeModel.filtered){item in

[2020-11-12 10:35] cedric-elca opened #113 "Lower required iOS target"
**Is your feature request related to a problem? Please describe.**
URLImage 2.0 has a minimum deployment target of iOS 13.0.
There are back-compatible UIKit projects with SwiftUI components. With the minimum deployment target set to 13.0, URLImage 2.0 cannot be used in those projects. I have to switch back to 0.1.19 unfortunately.

**Describe the solution you'd like**
Would it be possible to lower

[2020-11-12 13:09] pballart commented on #107
With your test code you would need to change the image of the url and then click "Load" and see if the new image appears. Anyway using the identifier works fine for me and I can't really spend more time looking into that right now.

Maybe we can close this issue for now but keep an eye in case someone else has similar issues.
Thank you very much for looking into it 😃

[2020-11-12 19:19] dmytro-anokhin commented on #112
Hey, I can not reproduce the issue from the description, and the sample code doesn't compile. Please try isolating the issue in a sample view that can be compiled without dependencies other than the URLImage package.

[2020-11-12 19:21] NoahKamara commented on #112
Try using the `.clipped()` modifier when using .fill in aspectRatio

I found my solution on [Stackoverflow](https://stackoverflow.com/questions/56825294/swiftui-image-clipstobounds)

[2020-11-12 19:24] dmytro-anokhin commented on #107
Hey, in the example the service I use (https://picsum.photos/) will return a random image for each request. So URL doesn't change, images do. I'm closing the issue, but if you find something please do not hesitate to report.

[2020-11-12 19:24] #107 closed, assigned to dmytro-anokhin

[2020-11-13 20:43] dmytro-anokhin commented on #113
Hey, this is as low as I can go:
[code]
I hope there are no apps that have to continue supporting lower platforms. See `lower_platforms` branch.
*Hope I manage to push it, GitHub is very slow for me today 😞

[2020-11-14 11:19] cedric-elca commented on #113
Thank you very much. I really appreciate that. Hope it can be merged to master in the future.

[2020-11-14 11:19] #113 closed, assigned to nobody

[2020-11-16 16:12] dmytro-anokhin commented on #113
You can point SPM to 2.1.7 for this change

[2020-11-16 16:25] cedric-elca commented on #113
Thank you.

[2020-11-17 03:23] vanities commented on #43
Are there any special flags or anything to get a `.gif` to play automatically? I do see that the first frame loads, but it doesn't animate. Sorry if it's in the documentation, I did try searching.

[2020-11-17 14:28] dmytro-anokhin commented on #43
Hey, I was referring to animation as appearance animation, not animated images. Ignore my previous comment - it was for a different issue. Animated images are still in the plans.

[2020-11-17 22:22] xezero opened #115 "Conditional imports (e.g SwiftUI/Combine) when inside a SPM package breaks compilation"
<img width="1482" alt="Screen Shot 2020-11-17 at 2 22 30 PM" src="https://user-images.githubusercontent.com/869182/99457780-6065c600-28e0-11eb-9560-afae8924cd64.png">

[2020-11-17 23:22] dmytro-anokhin commented on #115
Thanks for reporting, fixed in 2.1.8.

[2020-11-17 23:32] xezero commented on #115
Awesome! Thanks!

[2020-11-18 10:14] dmytro-anokhin commented on #115
I also discovered some other build issues using command line and had to make another tag 2.1.9. I'm closing this issue, but if you see something else - please report.

[2020-11-18 10:14] #115 closed, assigned to nobody

[2020-11-18 20:01] dmytro-anokhin commented on #112
I'm closing the issue assuming that the solution suggested by @noahkamara fixes the problem.

[2020-11-18 20:01] #112 closed, assigned to nobody

[2020-11-23 17:28] pballart opened #116 "Change defaultOptions maxPixelSize to nil"
**Is your feature request related to a problem? Please describe.**
I was investigating why some images were looking bad and then I found out that the default `maxPixelSize` is set to 300 x 300 px.

**Describe the solution you'd like**
I would like the default to be nil, which would use the original image size. I think it makes more sense specially when getting images served from CDNs and so that u

[2020-11-25 08:49] dmytro-anokhin opened #117 "Change maxPixelSize default value. Please comment"
URLImage package uses `maxPixelSize` property to limit image resolution when decoding. Decoding full resolution images, especially when displaying lists with multiple items, can create unneccessary memory pressure.

`maxPixelSize` value is set by default to **300x300px**

The number is taken from assumption, that commonly UIs with lists don't show images at full resolution, raster images usually s

[2020-11-25 08:50] dmytro-anokhin commented on #116
Hey,

I won't change it to `nil` (at least for now) because not everyone is using their own CDN and I want to keep memory footprint low. This is why the property was added in the first place.

However, I would love to hear what is more common size, so I created this issue #117. Please comment there. I will keep in mind your suggestion.

Thank you.

[2020-11-25 08:50] #116 closed, assigned to nobody

[2020-11-25 09:23] pballart commented on #117
Hey @dmytro-anokhin!
Thanks for spinning up this discussion. IMO I wouldn't assume people will always use this library to show images in a list. The use cases are way more. In my case for example, I'm showing a big image as a header and this size of 300x300 doesn't work at all.
My point here is that it's actually pretty difficult to come up with a magic number because of the number of factors in p

[2020-11-27 14:32] LuboZ opened #118 "Image placeholder"
Hi, im unable to set placeholder parameter in URLImage constructor.
URLImage v 2.0

![image](https://user-images.githubusercontent.com/33423536/100459414-b9461300-30c5-11eb-85c0-4acdbbff346c.png)

[2020-11-27 15:30] RWOverdijk commented on #117
When is this an issue? In what cases? I think it might be good to document a specific use case and a solution for when it happens.

[2020-11-27 15:36] pballart commented on #117
In my case I'm showing an image as a header that takes half of the screen. The image has good quality and is big enough but by default the URLImage library decodes it at 300x300px. Then when I set the image using `.resizable().aspectRatio(contentMode: .fit)` it gets completely blurry because the container size is bigger than 300x300 and the system stretches it interpolating the content.

[2020-11-28 00:57] tonyxiao opened #119 "Support for data:image url?"
Does url-image support data image url of the form?

`data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQCAYAAACAvzbMAAAgAElEQVR4XuxdB5QUxRa9LEvOOWeVJIIEBckCSg5GQEAkg0gQJAosKDlIkAwSJKoIiCBIEEmSROATVZCcWXJe4J9bs7PMxume7pnpmXnvHA7oVle9ul1bt6teigcRQUAQEAQEAUHABQTiufCMPCIICAKCgCAgCEAIRBaBICAICAKCgEsICIG4BJs8JAgIAoKAICAEImtAEBAEBAFBwCUEhEBcgk0eEgQEAUFAEBACkTUgCAgCgoAg4BICQiAuwSYPCQKCgCAgCAiByBoQBAQBQ

[2020-11-28 01:15] tonyxiao commented on #119
Just figured out that it's pretty trivial to do in SwiftUI itself without needing url-image. Though for completeness I wish url image supported it.

[code]

[2020-11-28 06:24] dmytro-anokhin commented on #119
TIL I didn’t know about this format and that Cocoa supports it so seamlessly. Surely I’m gonna explore how to include it in URLImage.

[2020-11-28 09:44] RWOverdijk commented on #117
So this resolution should only be set as a security measure or if you don't have properly sized images?

For example, I use cloudinary so all my images are the size I want them to be. This to me makes it sound like an edge case and should instead default to no max and be up to the developer to increase when needed.

[2020-11-28 20:57] dmytro-anokhin commented on #118
Hello, the API has changed, this argument is now called `inProgress`. Please read documentation for any other changes that may affect you.

[2020-11-28 20:57] #118 closed, assigned to nobody

[2020-12-01 00:10] Uppalled opened #121 "Http Header fields"
On version 1 we used to pass a URLRequest and could easily set up any necessary header fields when initializing it, is there a way currently to add a header? If not can add it as another var on `URLImageOptions` and pass it to the `URLSessionCoordinator`

[2020-12-04 19:31] dmytro-anokhin commented on #121
Implemented in 2.1.11. You can set it using `Download.URLRequestConfiguration` object (need to import DownloadManager module):
[code]

Can also be set globally:

[code]

[2020-12-04 19:31] #121 closed, assigned to dmytro-anokhin

[2020-12-08 06:00] dmytro-anokhin opened #124 "Protocol cache policy. Please comment"
I'm working on a feature to opt in for using protocol cache in the package. Basically, instead of custom in-memory/disk cache, use `NSURLCache` and `NSURLRequest.CachePolicy`.

The main reason is that protocol cache supports Cache-Control header. Also you may use another library that caches images in shared `NSURLCache`.

As a trade-off you lose some control, like in-memory caching, download delay

[2020-12-08 08:46] ca13ra1 opened #125 "URLImage not loading in WidgetKit"
**Summary and/or background**
Image not loading from URL. URL is correct as it's been verified with print but I can't seem to get it working.

**OS and what device you are using**
 - OS: macOS BigSur
 -  iPhone simulator

**Version of URLImage library**
The version of the library where the bug happens.
- [ ] The bug is reproducible in the latest version.

**What you expected would happen**
Image t

[2020-12-08 20:53] dmytro-anokhin commented on #125
Hey,

this is not a bug. `URLImage` view won't work with WidgetKit as is: https://developer.apple.com/forums/thread/652581

The only way to make it work is to preload image and display cached one. There's no convenient API yet, but if you really want to make it work, you can use underlying `RemoteImage` directly. Here's a sample how to do it: https://gist.github.com/dmytro-anokhin/2d4c2ab6145bc20e

[2020-12-08 20:53] #125 closed, assigned to nobody

[2020-12-08 22:11] ca13ra1 commented on #125
Thank you!

[2020-12-12 19:50] dmytro-anokhin commented on #124
Merged

[2020-12-12 19:50] #124 closed, assigned to dmytro-anokhin

[2020-12-16 13:52] a3igner opened #127 "Cannot load url... What am i doing wrong?"
https://static.reuters.com/resources/r/?m=02&d=20201216&t=2&i=1544753677&r=LYNXMPEGBF0XI&w=800

i am trying to load this image, using this above url

[code]

[2020-12-16 19:21] dmytro-anokhin commented on #127
Hey, the image loads fine in demo app running on iOS 12 simulator.

[2020-12-17 20:31] dmytro-anokhin commented on #119
Hey, this works out of the box. I'm using standard tools (URLSession, Image I/O) so I guess this shouldn't be a surprise :) Anyway, I added a unit test to make sure this will continue working.

[2020-12-17 20:31] #119 closed, assigned to dmytro-anokhin

[2020-12-18 15:35] devsachinsingh opened #129 "Not able to access makeRemoteImage method"
Value of type 'URLImageService' has no member 'makeRemoteImage'
![Screenshot 2020-12-18 at 9 04 39 PM](https://user-images.githubusercontent.com/71686518/102632158-b09ca600-4174-11eb-9211-6458ae4464b1.png)

[2020-12-18 17:53] dmytro-anokhin commented on #129
Check the type you are using

[2020-12-18 17:53] #129 closed, assigned to nobody

[2020-12-20 11:01] a3igner commented on #127
I am getting this error here

[code]

[2020-12-20 20:15] dmytro-anokhin commented on #127
It doesn't seem like the linker issue is specific to the package. I think the best is to ask on Apple developer forums or Stack Overflow.

[2020-12-21 04:27] a3igner commented on #127
One thought is I am trying to use it in widgets. I read that pulling in images asynchronously in widgets is not possible. Can you verify this?

[2020-12-22 17:20] dmytro-anokhin commented on #127
Hey, you can load images in your `TimelineProvider`, see documentation: https://github.com/dmytro-anokhin/url-image#download-an-image-in-ios-14-widget

[2020-12-22 18:00] SirArkimedes opened #130 "Passing down the image size after successful load?"
**Is your feature request related to a problem? Please describe.**
Not necessarily a problem, but was a use-case that came up with using the library!

On the application that I'm working with, we have a case where we want to know the size of the image and add different view modifiers to it depending upon a few conditions. Though, since the SwiftUI `Image` type doesn't have any size information we

[2020-12-22 18:14] chatumoh opened #131 "Remote Image not stored in cache with identifier provided in URLImageOptions"
**Summary and/or background**
Remote Image not stored in cache with identifier provided in URLImageOptions

**Version of URLImage library**
Version used- 2.1.13

**What you expected would happen**
Per documentation i am getting cache url of dowloaded image via `URLImageService.shared.diskCacheURL`

**What actually happens**
I am trying to download images via vendor URL & show it in each row of lis

[2020-12-22 20:07] dmytro-anokhin commented on #131
Hey, this is correct, image files are stored with generated names and file extensions from UTI. Metadata, such as identifier, stored in file record in the file index database. So you first need to query the database and then you can get the file path. See `DiskCache` object.

If you need to get the image without displaying it in a view, recommended way is to use `RemoteImage` as described in [Down

[2020-12-22 21:00] dmytro-anokhin commented on #130
Hey,

thank you for the suggestion and most important for being ready to contribute back to the project.

From a general purpose perspective, it might be that other information about an image needed for a different case, or access to an image itself (`CGImage` object). Then adding more arguments to the closure won't be the best way.

And as you mention yourself, this will be a breaking change, so

[2020-12-23 19:38] dmytro-anokhin commented on #131
Closing the issue. Feel free to reopen if you have more questions.

[2020-12-23 19:38] #131 closed, assigned to nobody

[2020-12-23 19:51] dmytro-anokhin commented on #130
I added a new `ImageInfo` object to keep reference to `CGImage` object and related information. And also there are now two initializers:

[code]

Unfortunately approach with adding `TransientImageType` initializer is not convenient, because it requires the client code to make the closure type explicit.

Also note that the size in `ImageInfo` is the real size. Meaning, if you use `maxPixelSize` to

[2020-12-23 20:00] SirArkimedes commented on #130
This is great! Thank you for adding this so quick!

[2020-12-24 14:48] dmytro-anokhin commented on #130
This enhancement is now part of 2.2.0 release. I'm closing the issue. Feel free to reopen if you encounter any issues. Cheers.

[2020-12-24 14:48] #130 closed, assigned to nobody

[2020-12-26 13:32] dmytro-anokhin commented on #117
After a month I think it's time to make a decision. Unfortunately the issue didn't give me the data about image sizes I was looking for. There are only two votes in favour of removing the limit, and I find this not enough. I consider that everyone else is pretty happy with how it is now.

However, I decided to increase the limit by default to 1000px for all platforms, except Apple Watch where 300p

[2020-12-26 13:32] #117 closed, assigned to nobody

[2020-12-31 12:55] #127 closed, assigned to nobody

[2021-01-01 12:57] dmytro-anokhin opened #133 "Use ViewBuilder - please comment"
**Is your feature request related to a problem? Please describe.**
Since the initial release of **URLImage** package, `ViewBuilder` attribute gone public, and there are some benefits for using it. Using it will allow conditionally return views of different types.

In this example if the image is wider than 100px we make it resizable.

[code]

Using ViewBuilder attribute will allow to return differ

[2021-01-02 18:05] dmytro-anokhin opened #134 "Remove corrupted temporary files"
**Is your feature request related to a problem? Please describe.**
Remove not an image/corrupted temporary files

**Describe the solution you'd like**
When an image can not be decoded temporary file should be removed. There is no point to grow caches folder.

**Describe alternatives you've considered**
Because the package uses cached directory, temporary files removed by system. Alternative is to

[2021-01-07 18:46] CollinAlpert opened #135 "Question: Impact on quality of image"
I have a question. Does using this library impact the quality of the downloaded image? I am having some trouble with slightly blurry images in my SwiftUI application and was wondering if the library could be what's causing it.

[2021-01-07 19:59] dmytro-anokhin commented on #135
Hey, the image size is limited to 1000x1000px by default. You can change it, or remove the limit completely, using `maxPixelSize` property.

[2021-01-07 19:59] #135 closed, assigned to nobody

[2021-01-08 18:30] dmytro-anokhin opened #136 "Roadmap to 3.0 🚀"
Roadmap to 3.0 🚀

Today I'm announcing a roadmap for URLImage version 3.0. URLImage was developed as a lightweight addition to SwiftUI. There is a way to make it even lighter and better. While the core feartures of the package will stay as is, I want to explore possibilities to provide options to configure the package for your needs. One such thing is downloading and caching.

There are two use ca

[2021-01-09 03:36] godefroydlb commented on #70
You all work is really nice.
I am stuck trying to implement image download outside a view using "URLImageService.shared.makeRemoteImage".
It would be very nice to have some working example of this use case

[2021-01-09 07:37] dmytro-anokhin commented on #70
Hey, sure, you can write a helper function like this: https://gist.github.com/dmytro-anokhin/51aaeecb03a4e8249d7783cc5c60cb3b

[2021-01-12 18:53] godefroydlb commented on #70
Hi Dmytro

And thank you. It is a really nice work you are doing because this feature to manage easily external image is really useful.

I was not able to compile your example because I am not fluent in Result type management. I am not a professional developer.

I have  URL Image package in version 2.2.0 and I am getting these errors. It might be because you have a component, that I do not have.

[2021-01-12 20:25] dmytro-anokhin commented on #70
Replied in the gist, not to create noise here.

[2021-01-15 00:50] godefroydlb opened #137 "Loading in a Loop"
I am using URL Image to download several images (6images of 3Mb approx) in  Loop.
Only the last image is downloading correctly. I think it is due to the queue management.
The fetchImage method launch initial and in progress steps but no success.
What is the good way to manage it in a loop ?

`let iCloudDocumentsURL = FileManager.default.url(forUbiquityContainerIdentifier: nil)?.appendingPathCompon

[2021-01-15 22:18] dmytro-anokhin commented on #70
Hey there, I added `RemoteImagePublisher` in 2.2.1 that allows to use Combine for downloading or retrieving images. The output is `ImageInfo` object. You can use it to get `CGImage` like this:

[code]

Documentation coming soon. Cheers.

[2021-01-16 20:32] dmytro-anokhin commented on #70
Hey,

I know this issue is long overdue, but I was struggling to come up with a nice API that won't overcomplicate the package. Finally, I think I got there 🙂

In 2.2.1 there is a new publisher added to the package: `RemoteImagePublisher`. It encapsulates all necessary operations to fetch an image. Because under the hood it uses the same objects as `URLImage` view it will behave in the same manner

[2021-01-16 20:35] dmytro-anokhin commented on #137
Hey, maybe new API can help: https://github.com/dmytro-anokhin/url-image#fetching-an-image

[2021-01-19 03:16] godefroydlb commented on #137
Hi Dmytro,

It is me again :-p. Sorry to bother you again, but would it be possible to have an helper as the last fetch method ?

Thank you for your work :-)

[2021-01-19 12:17] dmytro-anokhin commented on #137
Hey, not sure if I fully understand, what exactly do you want the last fetch method to do?

[2021-01-19 14:05] godefroydlb commented on #137
Could you provide the same kind of example as you did for the fetch outside a view, but with this version with array and combine.

starting from an array of url and getting as result an array of images (cgimage)

[2021-01-21 11:25] manelephant commented on #136
Hello Dmytro, sounds great.

When you say "API for downloading images in the background" : Current version is downloading on the main thread ?

I ask the quesiton because i am having a problem with my app being unresponsive when image are loading with URLImage.

[2021-01-21 17:09] dmytro-anokhin commented on #136
Hey @manelephant,

"API for downloading images in the background" meaning downloading images without the view. Downloads are asynchronous and callbacks are handled on the queue managed by `URLSession`.

However, some work is still done on the main thread, like image decoding. If you see issues with scrolling, try using `returnCacheElseLoad` policy, with a small delay, and `loadOnAppear`/`cancelOnD

[2021-01-21 17:13] dmytro-anokhin commented on #137
Hey, there already is an example of loading multiple images in the documentation. For your case I would suggest to use `map` operator on the `items` array to convert it into an array of `RemoteImagePublisher`:

[code]

[2021-01-28 18:49] #137 closed, assigned to nobody

[2021-01-30 22:26] kostastsi opened #139 "The identifier passed in the URLImageOptions object do not pass in the initializer of URLImage"
**Summary and/or background**
I tried to pass an identifier in the URLImageOptions object, but noticed that every time the image is getting downloaded. Debugged the URLImage and noticed that the public initializers call the private initializer of URLImage without injecting the options object. So the initializer is always getting the URLImageService.shared.defaultOptions.

**Version of URLImage lib

[2021-01-30 23:42] dmytro-anokhin commented on #139
Hey, this is certainly not intended. Thank you for noticing and detailed report. Fixed in 2.2.2.

[2021-01-30 23:42] #139 closed, assigned to nobody

[2021-01-31 00:42] kostastsi commented on #139
Great @dmytro-anokhin !Thank you!

[2021-01-31 00:57] kostastsi commented on #139
@dmytro-anokhin Could you please update the podspec (for the newer version) too, whenever is possible? Thank you in advance!

[2021-01-31 11:10] manelephant commented on #136
Great thank you @dmytro-anokhin !!! Gonna try that right away.

[2021-01-31 19:34] dmytro-anokhin commented on #139
sure:

[code]

[2021-03-23 04:30] #133 closed, assigned to dmytro-anokhin

[2021-03-29 17:26] Lavmint opened #140 "Carthage support"
**Is your feature request related to a problem? Please describe.**
[Carthage](https://github.com/Carthage/Carthage) is not supported. By now Carthage expects `*.xcodeproj` to be presented in root folder

**Describe the solution you'd like**
Generate xcodeproj with `swift package generate-xcodeproj` and commit to git

**Describe alternatives you've considered**
SwiftPM and cocoapods but they are no

[2021-03-31 03:42] jrtibbetts commented on #140
There's no compelling reason to add Carthage support to an existing Swift Package. But if it's as simple as generating a project file from the Package file, then you can fork the repo, generate it, and open a PR.

[2021-03-31 05:30] dmytro-anokhin commented on #140
Hey,

unfortunately it is not that simple. This is another step in release process to maintain. Considering that there is no CI for the package, it is also manual. Carthage is no the tool I'm familiar with, but experience shows: things break and need to be tested.

Sorry, but until I set up proper CI, it's a no.

[2021-03-31 05:30] #140 closed, assigned to nobody

[2021-03-31 09:54] Lavmint commented on #140
There is no need for CI, I've created PR as was suggested by @jrtibbetts

[2021-03-31 19:50] dmytro-anokhin commented on #140
I appreciate the effort, but no need to create a PR.

[2021-04-06 03:24] MarcoEidinger commented on #43
Animated images are still not yet supported, correct? If so it would be helpful to re-open the issue (if possible)

[2021-04-09 19:32] BlueMoose2 opened #142 "inProgress View does not disappear after content is loaded while scrolling"
‼️ Please fill in as much information as possible ‼️

**Summary and/or background**
I am currently experiencing a bug when using URLImages in a Scroll View. As the image is being loaded and displaying the inProgress view I noticed if you are actively touching/scrolling, the inProgress view will never update until the scrolling animation has completed. Is there a fix for this?

**OS and what device

[2021-04-13 08:40] donly opened #143 "Get a cached image url by remote URL"
I know all the images cached under URLImageService.shared.diskCacheURL, is it possible to get a cached image file url by its remote URL?

[2021-04-13 20:12] dmytro-anokhin commented on #143
`URLImageService.shared.diskCacheURL` is more of an introspection property, useful for debugging. In current version of the package you can get `CGImage` object, but not the file. Next version, hopefully released sometime soon, will allow accessing cached images.

[2021-04-19 14:57] user1u commented on #142
Same issue here.

проблема еще в том что если скролишь, то есть медленно ведешь ленту вниз, проходя посты с фотографиями, то progressview так и остается крутиться, но стоит остановиться фото подгружаются как надо.

я попробовал load: .loadImmediately но результат тот же.

проблема номер два. Если использовать loadOnAppear, то проблема останется и к ней прибавится еще одна,

в том случае если в фид

[2021-04-19 16:22] #143 closed, assigned to nobody

[2021-04-19 18:47] dmytro-anokhin commented on #142
Hey, sorry for taking long to respond.

The bug is a bit tricky to reproduce, but I think I found the cause. Read from cache operation uses the main run loop to deliver updates. Scrolling cause the run loop to be busy handling user input and postpone others. Version 2.2.4 uses the main dispatch queue, that is FIFO. This seems to solve the problem in my tests. Please confirm if it works for your ca

[2021-04-19 19:50] user1u commented on #142
Спасибо! все работает!

[2021-04-19 23:09] BlueMoose2 commented on #142
This resolved the issue and I am seeing much better performance in my app!! Thanks so much for the timely fix. Much appreciated!! I am closing the issue now.

[2021-04-19 23:09] #142 closed, assigned to dmytro-anokhin

[2021-04-22 16:12] chatumoh opened #145 "Not able to download jpeg/jpg url images"
**Summary and/or background**
Not able to download jpeg/jpg url images

**OS and what device you are using**
 - OS: iOS 14.4.2
 - Device or simulator: Both iPhone simulator, iPhone X
 - Are you building a widget or an extension? NO

**Version of URLImage library**
v2.2.3

**What you expected would happen**
A clear and concise description of what you expected to happen.

**What actually happens**
s

[2021-04-22 18:06] dmytro-anokhin commented on #145
Hey, please provide a sample image.

[2021-04-23 00:43] greese opened #146 "Crash in Async Operation"
I think there's a bug in here in ImageDecoder.swift:

    public func createFrameImage(at index: Int, subsamplingLevel: SubsamplingLevel = .default, decodingOptions: DecodingOptions = .default) -> CGImage? {
...
            case .asynchronous:
                // Don't consider the subsamplingLevel when comparing the image native size with sizeForDrawing.
                guard var size = frameSize(

[2021-04-23 01:38] chatumoh commented on #145
@dmytro-anokhin I realized the issue was with simulator it is working fine on actual device. I guess as i am behind corporate zscaler proxy hence the issue on simulator. I will close the bug

[2021-04-23 01:39] #145 closed, assigned to nobody

[2021-04-23 06:11] dmytro-anokhin commented on #146
Hey, thank you for reporting. This looks like thread explosion, what explains why you encounter it when there are many images. Which device/OS version you running?

[2021-04-23 14:02] greese commented on #146
tvOS, both in simulator and on device (Apple 4k for both). It's a free app in the App Store called Sparq Festival Platform if it helps to look at it.

It does load a lot of images. Basically, it's a streaming platform and we have rows of lazyhstacks forming a carousel of content on each page.

[2021-04-28 18:41] dmytro-anokhin commented on #146
Hey, version 2.2.5 limits number of concurrent operations with disk cache. This should solve the problem.

[2021-04-28 18:53] greese commented on #146
Thank you!

—
George Reese
***@***.***
+1.612.991.4446

[2021-05-02 09:56] #146 closed, assigned to dmytro-anokhin

[2021-05-12 04:35] dmytro-anokhin commented on #136
Quick update: v3 is now in main 🎉. I'm updating sample code and will follow up soon. Cheers!

[2021-05-12 04:35] #136 closed, assigned to dmytro-anokhin

[2021-05-17 13:20] jessegrosjean opened #148 "3.0 Identifier"
In update notes it says "Custom identifier can still be passed as an argument of URLImage", but the only constructor where I see that used is make private... is that an over-site?

[2021-05-17 13:23] jessegrosjean commented on #148
My use case is that I have the same imageURL but in different parts of my UI I want to view it at different sizes. I'm using

[code]

But it seems that without a custom identifier get the cached version of the first loaded size always.

[2021-05-17 17:28] dmytro-anokhin commented on #148
Hey,

thanks for reporting issue with identifier, it indeed must be public. Fix is in 3.0.1.

For you use case, you can configure different in memory store for different parts of the app. File store saves original image; in memory store - decoded up to the size you provide.

[2021-05-17 19:24] #148 closed, assigned to nobody

[2021-05-20 15:23] NoahKamara opened #149 "Images won't load initially on tvOS"
**Summary and/or background**
Images won't load initially on tvOS

**OS and what device you are using**
 - OS: tvOS 14.5.1
 - Simulator (ATV 4K 2nd gen)

**Version of URLImage library**
The version of the library where the bug happens.
- >=3.0.0 (2.2.5 works)
- [X] The bug is reproducible in the latest version.

**What you expected would happen**
The image should be loading and then displaying

**

[2021-05-20 16:30] dmytro-anokhin commented on #149
Hey, thank you for detailed report and sample code. It seems that something triggers `onDisappear` event that cancels loading. I'm gonna investigate later on, for now you can set `.environment(\.urlImageOptions, URLImageOptions(loadOptions: [ .loadImmediately ] ))` to start load as soon as the view is initialised.

[2021-05-23 13:24] Keno2903 opened #150 "URLIMAGE shows empty view in navlink destination"
‼️ Please fill in as much information as possible ‼️

**Summary and/or background**
The URLIMAGE works perfectly unless it is put in a destination view of a navigation Link. If so, it only returns an empty view.

**OS and what device you are using**
 - OS: IOS
 - Device or simulator = iPhone 12 Pro Max
 - Are you building a widget or an extension?
 No

**Version of URLImage library**
3.0.1

[2021-05-23 13:25] ClmnsRck opened #151 "[Bug]Images get cached without caching enabled"
My images for my server were cached and didn't refresh.
How can i tell the framework to always reload? It even cached the images between reboots of the iPhone ...

[2021-05-24 20:11] dmytro-anokhin commented on #150
Hey, I'm looking into the problem. It seems that navigation view recreates `URLImage` object and this breaks loading logic on appearance. One workaround is to load images immediately, when navigation renders destination body. Set `.environment(\.urlImageOptions, URLImageOptions(loadOptions: [ .loadImmediately ]))`.

[2021-05-25 08:45] Keno2903 commented on #150
Your solution works perfectly, thanks a lot. Keep up the good work :)

[2021-05-25 10:14] IvanShah opened #152 "{Bug} Fatal Exception: NSMallocException Failed to grow buffer"
Hello, we are facing several issues in our Crashlytics, it looks like an issue when there is not enough memory on the device, we support only devices with iOS 14+, full log:

Fatal Exception: NSMallocException
0  CoreFoundation                 0x1999ef9d8 __exceptionPreprocess
1  libobjc.A.dylib                0x1add72b54 objc_exception_throw
2  CoreFoundation                 0x199a5ee1c -[NSInvoc

[2021-05-25 18:17] dmytro-anokhin commented on #150
Recently I was getting many similar bug reports, so I decided to change default behaviour to start loading when the view is rendered. There's also a new section in README that explains differences: [Start Loading](https://github.com/dmytro-anokhin/url-image#start-loading). If you're using `List` you may get better performance with old behaviour.

[2021-05-25 18:17] #150 closed, assigned to nobody

[2021-05-25 18:18] dmytro-anokhin commented on #149
Recently I was getting many similar bug reports, so I decided to change default behaviour to start loading when the view is rendered. There's also a new section in README that explains differences: [Start Loading](https://github.com/dmytro-anokhin/url-image#start-loading). If you're using `List` you may get better performance with old behaviour.

[2021-05-25 18:18] #149 closed, assigned to nobody

[2021-05-25 18:55] dmytro-anokhin commented on #151
Hey,

I assume you're using v3 of the package. The answer depends on how you configure the cache.

If you did not configure the store, URLImage will use protocol cache policy. It should respect your cache header. You can change this using `URLImageOptions`: `.environment(\.urlImageOptions, URLImageOptions(urlRequestConfiguration: .init(cachePolicy: .reloadIgnoringCacheData)))`. This is basically `

[2021-05-25 18:55] #151 closed, assigned to nobody

[2021-05-26 18:36] NoahKamara commented on #149
Thanks for the quick fix :D I added the environment key and the build seems to perform fine :D

[2021-05-31 15:58] dmytro-anokhin commented on #152
Hey, this seems like old version of the package. Have you tried updating to v3? In v3 you can disable in memory cache and rely on system cache. This potentially will decrease memory consumption.

However, if you're running out of memory, I think this is more on the app side to profile with Instruments and see what resources can be released.

[2021-05-31 16:05] IvanShah commented on #152
Thank you, I'll update the package and try the system cache, memory problems appear only when images are in the process of loading

[2021-05-31 20:20] dmytro-anokhin commented on #152
One more thing to mention about v3 is that images are decoded lazily. This should give more time for the system to free resources. You can also specify lower `maxPixelSize` value to reduce memory footprint of the final image.

[2021-06-01 15:15] IvanShah commented on #152
After update memory problem solved, thank you

[2021-06-01 15:15] #152 closed, assigned to nobody

[2021-06-03 14:59] JOyo246 opened #153 "tvOS, first image in HStack temporarily goes back to progress state when row is hovered."
‼️ Please fill in as much information as possible ‼️

**Summary and/or background**
tvOS, first image in HStack temporarily goes back to progress state when row is hovered.

**OS and what device you are using**
 - OS: tvOS
 - Device or simulator Simulator
 - Are you building a widget or an extension? no

**Version of URLImage library**
3.1.0
- [ ✅] The bug is reproducible in the latest version.

*

[2021-06-03 16:25] JOyo246 commented on #153
Okay it looks like its simulator only.

[2021-06-03 16:25] #153 closed, assigned to nobody

[2021-06-03 18:13] dmytro-anokhin commented on #153
Hey, thank you for reporting. I will still investigate to see what's going on. BTW, in 3.1 `loadImmediately` is default option.

[2021-06-09 12:34] Djibs opened #154 "set a default image, while loading"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-09 12:36] Djibs commented on #154
hello,

Would it be possible to allow the display of an image in the app while waiting for the loading to be finished?
Thank you

[2021-06-09 19:36] dmytro-anokhin commented on #154
Hello, sure, you can use `inProgress` view builder. See [View Customization](https://github.com/dmytro-anokhin/url-image#view-customization) section in the documentation.

[2021-06-09 19:36] #154 closed, assigned to nobody

[2021-06-09 19:52] Djibs commented on #154
I failed to get "inProgress" to work. You can give me an example.

(I do not yet have a great level in swift / swiftUI )

here is what I did currently:

                                URLImage(URL(string: post.thumbnailApp)) { image in
                                    image
                                        .resizable()
                                        .frame(width: 100, height: 7

[2021-06-09 21:42] goldenpath-ai commented on #70
Hi @dmytro-anokhin, the documentation seems to be outdated and the code samples do not work. Could you please update the documentation and the example?

For example, URLImageService does not have a `shared` property, and the exposed `RemoteImagePublisher` is the struct that accepts `self` as an argument, as opposed to the expected function. Is the `RemoteImagePublisher` struct even supposed to be

[2021-06-11 18:48] dmytro-anokhin commented on #70
Hey @FilipK999, thanks for bringing up. `shared` service is indeed gone (maybe I should resurrect it 🤔). This is because it is up to the app to setup the service that fits the purpose. While I'm updating the documentations, you can use ImageDownloader sample code here: https://github.com/dmytro-anokhin/url-image-demo. Hope this helps.

[2021-06-17 14:48] masamichiueta opened #155 "Update to Latest Package Versions does not fetch the latest version 3.0.0"
**Summary and/or background**

The command in Xcode `Update to Latest Package Versions` does not fetch the latest version 3.0.0.

**What you expected would happen**
Xcode can update to 3.0.0.

**What actually happens**
The command in Xcode `Update to Latest Package Versions` does not fetch the latest version 3.0.0.
Xcode still uses 2.2.5.

It would be great if you could check the reason 🙏

[2021-06-17 17:21] dmytro-anokhin commented on #155
Hey, what is your version rule? Asking because by default it's to next major version, so `Update to Latest Package Versions` won't update 2.2.5 to 3.0.0. You need to manually set it.

[2021-06-18 01:25] masamichiueta commented on #155
@dmytro-anokhin Ohh, it's my bad 🤦‍♂️ version rule was `Up to Next Major`, so I couldn't update to `3.0.0`.
I could update by changing it to `3.0.0` manually.
Thank you for your help 🙇

before
<img width="528" alt="Screen Shot 2021-06-18 at 10 21 59" src="https://user-images.githubusercontent.com/1473923/122492259-68c1e300-d020-11eb-9dc0-137d130e2652.png">

after
<img width="532" alt="Screen Shot

[2021-06-18 04:57] #155 closed, assigned to nobody

[2021-06-25 14:34] NoahKamara commented on #149
Hey there,
iOS 15 DEV Beta 2 fixes this:

![image](https://user-images.githubusercontent.com/40308075/123440465-1ad64d80-d5d3-11eb-8b16-56d95eb28b8e.jpeg)

Could this be related to this issue?

[2021-06-30 15:47] cpisciotta opened #156 "Add Cocoapods Support"
Would it be possible to support Cocoapods again? It looks like the `podspec` file was removed at some point. It'd be really helpful to add this back, as the project I'm working on cannot use SPM at this time.

[2021-07-01 19:15] dmytro-anokhin commented on #156
Removing Cocoapods support reduces amount of support work. It does require some workarounds to make the package work in a way I structured it. Unfortunately number of unique views from cocoapods.org is very small (about 1%), so I don't plan to reintegrate it.

[2021-07-01 19:15] #156 closed, assigned to nobody

[2021-07-15 11:18] Keno2903 opened #157 "URLImage reloads with Textfield"
I have an URLImage right above a Textfield. When I use the textfield, the Image reloads every time I put in a letter causing the hall view to lack up and down when writing. Is there a way to keep the image loaded while the textfield is used?

Look Forward to the answer, love the package, keep up the good work :)

[2021-07-16 21:32] dmytro-anokhin commented on #157
Hey, can you please fill in the bug report template?

[2021-07-16 21:33] dmytro-anokhin commented on #157
This are the most interesting parts ⬇️

**Version of URLImage library**
The version of the library where the bug happens.
- [ ] The bug is reproducible in the latest version.

**What you expected would happen**
A clear and concise description of what you expected to happen.

**What actually happens**
A clear and concise description of what actually happens.

**Sample code**
The sample code helps a

[2021-07-22 04:10] h-elbeheiry opened #158 "Save URLImage to Photos library ?"
HI, I'm trying to be able to allow the user to save URL image to his device for example on a button press, can't seem to be able to figure out how with SwiftUI.

[2021-07-22 15:22] dmytro-anokhin commented on #158
Hey,

this is a bit beyond the package scope, but you can fetch an image and store it using PhotoKit. Use this gist [`URLImageService+FetchImage.swift`](https://gist.github.com/dmytro-anokhin/51aaeecb03a4e8249d7783cc5c60cb3b) and [Requesting Changes to the Photo Library](https://developer.apple.com/documentation/photokit/phphotolibrary/requesting_changes_to_the_photo_library) documentation for ref

[2021-07-31 19:51] #158 closed, assigned to nobody

[2021-08-04 16:54] #157 closed, assigned to nobody

[2021-08-20 10:18] TomShen1234 opened #159 "URLImage reloads whenever the view is refreshed even if URL stays the same"
**Summary and/or background**
When the view is refreshed (for example, via a state change), the image is always reloaded. This can be seen in the following code:

[code]

The `URLImage` will reload once the `saved` property is changed (aka when you press the return key on the text field).

**OS and what device you are using**
iOS 14 and iOS 15 beta 6

**Version of URLImage library**
3.1.0

**What

[2021-08-23 05:40] dmytro-anokhin commented on #159
Hello,

thank you for the sample code.

When the view updates, the image reloads because accessing `URLCache` is asynchronous operation. The way to "fix" this is to use provided in-memory cache.

[code]

I will review implementation to see if there is some new tool in SwiftUI that can help with this particular case.

[2021-08-23 05:40] #159 closed, assigned to nobody

[2021-08-24 07:26] xoniq opened #160 "Image cache size total"
Hi,

Thank you for this wonderful library. One feature I would like to add for the benefit of the user is the total cache size.
I would like the user to see how much space is used for photo caching, and then making the user able to clear it when desired.

I found this issue #33 which almost got to the point where we could do this, but got stale. Following up on that feature request, is there a qui

[2021-08-24 07:53] dmytro-anokhin commented on #160
Hi,

the directory is still in the caches folder and named "URLImage". If you don't see it - offline cache is not enabled.

To enable logs set `log_detail = log_all` in `Log.swift` file.

[2021-08-24 11:48] xoniq commented on #160
Am I doing something wrong in the next example? I commented after the line it prints.

This is my scene delegate:

[code]

And this is what I call in HomeView:

[code]

I did set it to

[code]
But I don't see anything in the log output from Xcode.

[2021-08-24 21:14] dmytro-anokhin commented on #160
From what I understand: code works as expected. It's just `fileSize` is only applicable to regular files. You need to traverse the directory (and subdirectories) to sum up file sizes.

Regarding logs: I'm not sure why it's not working for you, I'm using it all the time.

[2021-08-25 07:41] xoniq commented on #160
Alright I got the cache size collection working.

For future reference;
I found a snippet online for extending the URL component using this:

[code]

Then on the area where the cache size need to be displayed:

[code]

In my case it returns `17.4 MB` so its working now.

Just tested it with cache removal, which works fine. First was 17.4 MB, then I tapped the clear button in my app which runs the

[2021-08-25 08:31] dmytro-anokhin commented on #160
Thank you for sharing code snippet. Note: directory won't be completely empty because `removeAllImages` deletes image files and records, not the database used to index files.

[2021-08-25 08:31] #160 closed, assigned to nobody

[2021-09-16 18:52] amirshane opened #161 "Caching images causes URLImage to reload images without view update in keyboard extension"
**Summary and/or background**
The app uses URLImage to load images into a keyboard extension based on user search queries. The images are cached. If the user types or taps on text fields the images loaded will reload and reanimate. Additionally, the images will still reload on a new search query even if their new search query does not result in updated images returned. Removing the caching removes

[2021-09-18 06:23] dmytro-anokhin commented on #161
Hello, thank you for detailed report. I'm currently busy with regular work, but I will investigate it when I get some free time.

[2021-09-23 09:22] artecoop opened #162 "XCode 13 Archive error"
Hello all!
while archiving a project using SwiftSoup using the new XCode 13 and iOS 15 SDK I'll encounter this error

<img width="930" alt="Screenshot 2021-09-23 at 11 21 04" src="https://user-images.githubusercontent.com/52246878/134483221-0dddd07e-bd44-480b-9231-000837c905ab.png">

and this one

<img width="985" alt="Screenshot 2021-09-23 at 11 21 39" src="https://user-images.githubusercontent.c

[2021-09-23 19:12] dmytro-anokhin commented on #162
Hi, thank you for reporting. I updated platform dependency to v12 as recommended workaround. Unfortunately I cannot reproduce the issue, please confirm if it's working for you now. Tag 3.1.1.

[2021-09-24 07:19] artecoop commented on #162
Thanks!
I've reverted to Xcode 12 as I needed to continue the development.
As soon as I'll update again to 13 I'll report you back. Hopefully someone else will confirm this before me

[2021-10-27 10:50] artecoop commented on #162
@dmytro-anokhin sorry for taking so much time. I can confirm that 3.1.1 solve the problem.

[2021-10-27 10:50] #162 closed, assigned to nobody

[2021-10-31 11:50] al96169 opened #163 "Even if the cache is used, the images will be reloaded in tabview"
Hi! I use url-image in a tabview, but even if the cache is used, when I switch between tabs, the images will still be reload.

 - OS: IOS 14
 - iPhone simulator iPhone 8、 iPhone X
 - Are you building a widget or an extension? : NO

- Version : 3.1.1

- Code:
[code]
[code]

[2021-11-23 12:21] artur-marchetto opened #164 "Please add support for M1 Macs"

[2021-11-23 21:24] dmytro-anokhin commented on #164
Hello, `URLImage` is shipped as a source code, not a binary, and can be compiled for any Mac. This is up to you to compile it for M1.

[2021-12-02 10:56] FloDa88 opened #167 "Option to center crop images before they are returned as a view"
**Is your feature request related to a problem? Please describe.**
I am having problems fitting images of different aspect ratios into a grid layout.

**Describe the solution you'd like**
It would be great if the image could be center cropped (to a square, a rectangle with given aspect ratio) before it is returned as a view.

**Describe alternatives you've considered**
Scaling the image with a dis

[2021-12-04 12:05] artur-marchetto commented on #164
Well you have to open Xcode "Using Rosetta" I found out.
otherwise it wouldn't work. With cocoa pods it'd work but with SPM no. that's because with cocoapods, having access to the target in xcode you could set a flag that would make it work. Excluding architecture arm64.
you can mark this is as closed if you wish.

[2021-12-05 21:38] dmytro-anokhin commented on #164
Unfortunately I can not verify and there are no details in the issue description. If you think there is a bug in the package - please create a new bug report and make sure to fill in the template.

[2021-12-05 21:38] #164 closed, assigned to nobody

[2021-12-05 21:45] dmytro-anokhin commented on #167
Hello, if I understand correctly - you can do this using SwiftUI modifiers:

[code]

[2021-12-17 02:48] #167 closed, assigned to nobody

[2022-01-26 10:53] oliexe opened #168 "Wholesome issue"
**This is not an issue**. Just wanted to say your project saved me hundreds of hours and I love you for that. ❤️
If I can donate, I would love to.

[2022-01-27 20:06] dmytro-anokhin commented on #168
Hi, thank you, I'm glad this package is still helpful. There's no need for donations, this is a side project and knowing that it helps build apps is already a privilege. Cheers!

[2022-03-29 09:28] CocoaJerry opened #170 "Can i use this package for ios15+?"

[2022-05-20 12:32] lokizero00 commented on #161
Hello, i got the same issue when update views.

[2022-05-22 21:36] dmytro-anokhin commented on #161
Hi, unfortunately I'm no longer actively working on the package. But if it happens and you find a fix - I will gladly review PR.

[2022-05-26 16:50] mojtabacazi opened #171 "Missing URLImage.podspec"
The [URLImage.podspec](https://github.com/dmytro-anokhin/url-image/blob/2.2.5/URLImage.podspec) is missing in 3.x version. Was this intentional? If so can it still be installed with cocoapods?

[2022-05-27 05:33] dmytro-anokhin commented on #171
Correct, `podspec` was removed, and SPM is the only supported tool. You can create a private pod if you wish to use CocoaPods.

[2022-05-27 05:33] #171 closed, assigned to nobody

[2022-08-18 13:23] TheMMstick opened #172 "Is it possible to forget all downloaded content each 15 minutes?"
Hi all!
I am currently evaluating this library. So far it works nice, but I try to find an option to forget all the downloaded images, delete them from the cache (memory and file) and reload the images already on screen with new ones. Is this easily possible?
Thanks for any hint!
Marc

[2022-10-30 09:13] princesojitra opened #174 "Remove in memory cached images and load new ones"
Hi all,
I am currently evaluating this library. I have cached the images using URLImageOptions - InMemory store type in one of my SwiftUI View. I tried to delete cached images from in memory using removeallImages() method but it did not work for me.

[2022-11-14 16:40] RaymondG-kr opened #175 "Accessibility Help"
In utilizing URLImage I've noticed that the rendered images are not accessibility via the iOS Accessibility Inspector and Reader systems. Is there a method to achieve this that I'm ignorant of or can this be a feature added down the line for this project?